.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  padding: 19px;
  border-radius: 12px;
  background: var(--CRM-modal-SecondaryBG, #23252c);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: inline-flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--light-gray);
  /* transform: scale(1.5); */
}

.inputContainer {
  width: 398px;
  height: auto;
  border-radius: 12px;
  border: 2px solid var(--txt-gray, #5a5b6f);
  background: #272930;
  transition: all 0.3s ease;
}

.inputContainer.recording {
  border: 2px solid #3956cc;
  animation: pulse 1s infinite;
}

.input {
  display: inline-flex;
  width: 390px;
  /* height: 45px; */
  padding: 15px;
  padding-right: 30px;
  border: none;
  background: transparent;
  outline: none;
  color: var(--light-gray);
  resize: none;
  font-size: 14px;
}

.input::-webkit-scrollbar {
  width: 4px;
  max-height: 45px;
}

.input::-webkit-scrollbar-thumb {
  background-color: var(--main-gray);
  border-radius: 4px;
}

.input::-webkit-scrollbar-track {
  background-color: var(--bg);
  border-radius: 4px;
  margin: 10px;
}

.micBtn {
  position: absolute;
  bottom: 42%;
  right: 81px;
  display: inline-flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: scale(1.1);
  color: var(--light-gray);
  transition: all 0.3s ease;
}

.micBtn.recording {
  color: #3956cc;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1.5);
    opacity: 1;
  }
}

.recordingMessage {
  position: absolute;
  top: 32px;
  left: 75px;
  color: #3956cc;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.sendBtn {
  display: inline-flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.previewContainer {
  width: 100%;
  position: absolute;
  top: -65px;
  left: 10px;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.previewItem {
  position: relative;
  width: 60px;
  height: 60px;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.removePreview {
  position: absolute;
  top: -4px;
  right: -4px;
  background: var(--main-gray);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fileName {
  font-size: 9px;
  color: #555;
  margin-top: 8px;
}

.previewDoc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 60px;
  height: 60px;
  background: #23252c;
}

.audioInsideInput {
  position: relative;
  width: fit-content;
  margin: 7px 5px;
}

.removePreviewDoc {
  position: absolute;
  top: -4px;
  right: -4px;
  background: var(--main-gray);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
