.inputSelect {
    padding: 18px 20px;
    width:100%;
    /* height: 43px; */

    display: flex;
    align-items: center;

    border-radius: 10px;
    border: 1px solid #4A4A4A;

    background-color: #282828;
    outline: none;

    color: #C7C7C7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    cursor: pointer;    
    appearance: none;


    /* margin-bottom: 24px; */
   

    /* padding-left: 14px; */

    /* font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; */
    /* box-shadow: none; */
}
@media only screen and (max-width: 767.9px) {
   .inputSelect{
    font-size: 14px;
  }
}

.options {
    position: absolute;
    top: 105%;
    left: 0;
    right: 0;
    border: 1px solid #302F2F;
    border-radius: 5px;
    background-color: #282828;
    z-index: 1000;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    padding: 10px 20px;
    
}

.option:not(:last-child){
    border-bottom:solid 1px #302F2F;
}

.selectIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    fill: #767676;
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

/* .selectIcon:hover{
transform: translateY(-50%) rotate(180deg);
} */

.selectWrapper {
    position: relative;
}

.icon {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 10px;
}