.schedulegrid {
    display: grid;
    grid-template-columns: 100px repeat(10, 1fr);
    /* Колонки для дат */
    grid-template-rows:  65px repeat(65px);

    row-gap: 10px;
    width: 1049px;
    height: 325px;

    overflow-y: scroll;
        overflow-x: hidden;
        -ms-overflow-style: none;
     /* position: relative;
    overflow: hidden; 
    overflow-y: auto;
        /* Включаем вертикальную прокрутку */
        max-height: 325px;
     /* background: repeating-linear-gradient(to bottom, 
                var(--bg-secondary),
                linear-gradient(90deg, #23252C, #3E414F, #23252C) 65px
              
            );  */
        background-image:
                repeating-linear-gradient(0deg,
                    /* Чередование полос сверху вниз */
                    transparent,
                    /* Прозрачная область для градиента первой полосы */
                    transparent 66px,
                    /* Высота первой градиентной полосы */
                    var(--bg-secondary) 66px,
                    /* Начало однотонной полосы */
                    var(--bg-secondary) 132px
                    /* Конец однотонной полосы */
                ),
                repeating-linear-gradient(90deg,
                    /* Горизонтальный градиент */
                    #23252C,
                    /* Начало градиента */
                    #3E414F 50%,
                    /* Средний цвет градиента */
                    #23252C 100%
                    /* Конец градиента */
                );

    /* Чередование высоты полос */
    background-size: 100% 132px, 100% 66px;
}

.schedulegrid::-webkit-scrollbar {
    width: 8px;
}

.schedulegrid::-webkit-scrollbar-thumb {
    /* background-color: var(--main-gray); */
    border-radius: 4px;
}

.schedulegrid::-webkit-scrollbar-track {
    /* background-color: var(--bg); */
    border-radius: 4px;
}

.scrollgrid {
    width:1071px;
    /*головний контенер, який обгортає скролбар*/
    height: 325px;
    display: flex;
    padding: 13px 20px 13px 13px;
    /*падінг для відступу від контейнера до скрола*/
    background: var(--bg-secondary);
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 12px; */
}

/* Чередующаяся подложка */
/* .rowBackground {
    grid-column: 2 / -1;
    
    grid-row: 2/-1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}  */

/* .rowBackground.odd {
    background: linear-gradient(90deg, #23252C 0%, #3E414F 50%, #23252C 100%); 
    
 } 

.rowBackground.even {
background: var(--bg-secondary);
} */

.gridheader {
    grid-row: 1;
    /* grid-column: 2 / 12; */
    /* Первая строка для заголовков дат */
    background-color: var(--bg-secondary);
    margin-left: -15px;
    padding-top: 13px;
    padding-bottom: 8px;
    text-align: left;
    align-content: center;
    /* font-weight: bold; */
    white-space: pre-wrap;
    /* z-index: 1; */
}

.gridheader:first-child {
    margin-left: 10px;
}

.gridpost {
    grid-column: 1;
    /* grid-row: 2 / 6; */
    /* Первая колонка для заголовков постов */
    background: var(--bg-secondary);
    padding: 10px;
    height: 55px;
  
    text-align: left;
    /* z-index: 1; */
}

.griditem {
    border-radius: 4px;
        text-align: center;
        height: 55px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
         /* position: relative; 
    z-index: 1; */
   
}

.plateinfo {
    font-size: 16px;
    color: var(--white);
    font-weight: 400;
    width: 100%;
    height: 50%;
    padding: 3px 8px;
    border-radius: 5px;
    border-top: 0.5px solid var(--main-gray);
    border-right: 0.5px solid var(--main-gray);
    border-left: 0.5px solid var(--main-gray);
    background: var(--bg-secondary);
}

.mechanicinfo {
    background: inherit;
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    height: 50%;
    padding: 1px 6px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position:relative;
}

 .mechanicinfo::before {
     content: "";
     position: absolute;
     left: -1px;
     top: 0;
     width: 4px;
     height: 100%;
     filter: blur(5px);
     border-radius: 0 5px 5px 0;
    z-index: 1;
 }