.schedulegrid {
    display: grid;
    grid-template-columns: 100px repeat(var(--column-count), 1fr);
    /* grid-template-columns: 100px repeat(10, minmax(94.9px, 1fr)); */
    /* Колонки для дат */
    grid-template-rows: 65px repeat(auto-fill, 65px);
    /* row-gap: 10px;   */
    width: 1057px;

    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 325px;
    background: var(--bg-secondary);
}

.schedulegrid::-webkit-scrollbar {
    width: 8px;
}

.schedulegrid::-webkit-scrollbar-thumb {
    background-color: var(--main-gray);
    border-radius: 4px;
}

.schedulegrid::-webkit-scrollbar-track {
    background-color: var(--bg);
    border-radius: 4px;
}


/* Чередующаяся подложка */
.rowBackground {
    grid-column: 2 / -1;

    /* grid-row: 2/-1; */
    height: 65px;
    position: relative;
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    z-index: 0;
}

.rowBackground.odd {
    background: linear-gradient(90deg, #23252C80 0%, #3E414F80 50%, #23252C80 100%);
    border-top: 1px dashed #D8E1FF12;
}

.rowBackground.even {
    background: var(--bg-secondary);
    border-top: 1px dashed #D8E1FF12;
}


/* .rowBackground::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: repeating-linear-gradient(90deg,
             transparent,  
                transparent  calc(var(--gap-width) - 1px), 
                rgba(255, 255, 255) 1px,
                transparent calc(var(--gap-width) )  
                
               
                );
    z-index: 1;
    pointer-events: none;
   
    opacity: 0.2;
} */


.overlayGrid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100px repeat(var(--column-count), 1fr);
    /* Ширина ячейки передается из props */
    grid-template-rows: 65px repeat(65px);
    /* Высота каждой ячейки */
    z-index: 1;
    /* Располагаем ниже основного контента */
    pointer-events: none;
    /* Делает вспомогательный грид неактивным для кликов */
}

/* Стили для ячеек вспомогательного грида */
.overlayCell {
    border-left: 1px dashed var(--light-gray);
    opacity: 0.1;
}

/* Удаляем левый бордер у первой колонки */
.noBorder {
    border-left: none;
}

.gridheader {
    grid-row: 1;
    /* grid-column: 2 / 12; */
    /* Первая строка для заголовков дат */
    background-color: var(--bg-secondary);
    /* margin-left: -15px; */
    padding: 13px 0 8px 0;
    text-align: left;
    align-content: center;
    /* font-weight: bold; */
    white-space: pre-wrap;
    height: 65px;
    position: sticky;
    top: 0;
    z-index: 3;
    border-right: 1px dashed #D8E1FF12;
}

.gridheader span {
    margin-left: -15px;
}

.gridheader:first-child {
    margin-left: 10px;
    /* width: 75px; */
    white-space: pre-wrap;
    /* border-right: none; */
}

.gridheader:first-child span {
    margin-left: 0px;
}

.gridpost {
    grid-column: 1;
    /* grid-row: 2 / 6; */
    /* Первая колонка для заголовков постов */
    background: var(--bg-secondary);
    padding: 10px;
    height: 65px;
    border-top: 1px dashed #D8E1FF12;
    text-align: left;
    align-content: center;

    z-index: 2;
}

.griditem {
    border-radius: 4px;
    text-align: center;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative;  */
    margin-top: 4px;
    z-index: 2;
    cursor: pointer;
}

.plateinfo {
    font-size: 16px;
    color: var(--white);
    font-weight: 400;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-top: 0.5px solid var(--main-gray);
    border-right: 0.5px solid var(--main-gray);
    border-left: 0.5px solid var(--main-gray);
    background: var(--bg-secondary);
}

.mechanicinfo {
    background: inherit;
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* position:relative; */
}

.mechanicinfo::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 0;
    width: 4px;
    height: 100%;
    filter: blur(5px);
    border-radius: 0 5px 5px 0;
    z-index: 2;
}

.currenttimeline {
    position: absolute;
    top: 0;
    width: 2px;
    height: 325px;
    background: linear-gradient(0deg, #23252C 0%, #8B8B8B 20%, #566596 50%, #8E8E8E 80%, #23252C 100%);
    ;
    z-index: 4;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
}