.notificationBox{
    min-width: 388px;
    padding: 18px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    border-radius: 12px;
    background: var(--bg-secondary);
}

.notifForm{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.dateAndTimeBox{
    display: flex;
   align-items: center;
    justify-content: space-between;
}

.inputBox{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.crossBtn{
    position: absolute;
    right: 20px;
    top: 20px;
    fill: var(--input-stroke);
    cursor: pointer;
}

.title{
    color: var(--white);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* .connectionSelect{
    width: 100%;
    display: flex;
    padding: 10px 10px 10px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    border-radius: 12px;
    background-color: var(--bg-input);
    outline: none;
    border: none;

    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    appearance: none;
} */

.input{
display: flex;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    align-self: stretch;

    border-radius: 12px;
    background-color: var(--bg-input);
}

/* .inputDate{
    width: 144px;
}

.inputTime{
    width: 100px;
} */

.date{
    /* display: flex;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    border-radius: 12px; */
    background-color: var(--bg-input);

    outline: none;
    border: none;

    color: var(--white);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: default;

}

.dateDate{
    width: 90px;
}

.dateTime{
    width: 60px;
}

.date::-webkit-calendar-picker-indicator{
    display: none;
}

.dateBtn{
    border-radius: 46px;
    background: var(--bg-input);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;

    display: flex;
    padding: 6px;
    align-items: center;
    cursor: pointer;
    /* gap: 10px; */
}

.iconBtn{
    fill: var(--light-gray);
}

.textarea{
    height: 80px;
    border-radius: 12px;
    background-color: var(--bg-input);
    outline: none;
    border: none;
    resize: none;
    padding: 12px;

    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.closeBtn{
    border-radius: 6px;
    border: 1px solid var(--input-stroke);
    background-color: transparent;
    padding: 10px;

    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.createBtn{
    border-radius: 6px;
    background-color: var(--green-btn-normal);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;

    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;

    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.btnBox{
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}

.selectBox{
    position: relative;
}

.arrowIcon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    fill:var(--icon-gray);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.label{
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}