.containerchart {
    /* border-radius: 5px;
    width: 310px;
    height: 270px;
    background: var(--bg-secondary); */
    /* border: 1px solid var(--black); */
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
}

.charttitle {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: var(--white);
    margin-bottom: 16px;
    /* width: 122px;
    height: 21px; */
    /* margin-top: 9px;
    margin-left: 18px;
    margin-bottom: 16px; */
}

@media only screen and (min-width: 1850px) {
    .charttitle {

        margin-bottom: 24px;
    }
}

.areabox {
    width: 272px;
    height: 220px;
}

@media only screen and (min-width: 1850px) {
    .areabox {
        width: 405px;
        height: 325px;
    }
}


.responsecontainer {
    /* padding-left: 15px;
    padding-right: 15px; */
    height: 215px;
    width: 272px;

}

@media only screen and (min-width: 1850px) {
    .responsecontainer {
        /* padding-left: 15px;
        padding-right: 15px; */
        height: 325x;
        width: 422px
    }
}

/* .rechartsWrapper{
    height: 184px;

} */

.popuptitle {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10px;
    font-variant: small-caps;
    color: #9e9e9e;
}