.charttitlebox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 28px;
}

.charttitleavto {
  font-size: 14px;
  font-weight: 300;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 13px;
}

.titlekolvo {
  font-size: 24px;
  color: var(--play-btn-triangle);
}

.charttitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: var(--white);
}

.areabox {
  width: auto;
  height: 307px;
  /* height: clamp(246px, calc(246px + (61 * ((100vh - 900px) / 180))), 307px); */
  margin-left: 0;
  margin-top: 6px;
}

@media only screen and (max-width: 1920px) and (min-width: 1280px) {
  .areabox {
    width: 100%;
    height: calc(100% - 5vh);
  }

  .charttitle {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1280px) {
  .areabox {
    min-width: 246px;
    min-height: 246px;
  }
}

.responsecontainer {
  height: 315px;
  width: 430px;
}

.popuptitle {
  font-size: 13px;
  font-variant: small-caps;
  color: var(--blue-btn-inactive);
  text-align: center;
}

.popupavto {
  font-size: 10px;
  color: var(--blue-btn-inactive);
  padding-top: 3px;
  height: 15px;
}

.kolall {
  font-size: 16px;
  font-weight: 600;
  text-align: end;
  color: var(--blue-btn-normal);
}

.kolnew {
  font-size: 16px;
  font-weight: 600;
  text-align: end;
  color: var(--play-btn-triangle);
}

.customtooltip {
  background-color: var(--light-gray);
  width: 48px;
  padding: 2px 4px;
  border-radius: 6px;
  transform: translateX(-50%);
  font-weight: 400;
  font-size: 6px;
  font-variant: smallCaps;
  font-style: normal;
}

.chartflex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
