.containerchart {
    /* border-radius: 5px;
    width: 310px;
    height: 270px;
    background: var(--bg-secondary); */
    /* border: 1px solid var(--black); */
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
}

@media only screen and (min-width: 1850px) {
    .containerchart {}
}

.charttitlebox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 28px;
}


@media only screen and (min-width: 1850px) {
    .charttitlebox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 430px;
        height: 28px;
    }
}

.charttitleavto {
    font-size: 14px;
    font-weight: 300;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 13px;
}

@media only screen and (min-width: 1850px) {
    .charttitleavto {
        font-size: 14px;
        color: var(--white);

    }
}

.titlekolvo {
    font-size: 18px;
    color: var(--play-btn-triangle);
}

@media only screen and (min-width: 1850px) {
    .titlekolvo {
        font-size: 24px;
        color: var(--play-btn-triangle);
    }
}


.charttitle {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: var(--white);
    /* margin-bottom: 16px; */
    /* width: 122px;
    height: 21px; */
    /* margin-top: 9px;
    margin-left: 18px;
    margin-bottom: 16px; */
}

@media only screen and (min-width: 1850px) {
    .charttitle {
        font-size: 24px;
        /* margin-bottom: 24px; */
    }
}

.areabox {
    width: 287px;
    height: 207px;
    margin-left: -5px;
}

@media only screen and (min-width: 1850px) {
    .areabox {
        width: 430px;
        height: 307px;
        height: clamp(246px, calc(246px + (61 * ((100vh - 900px) / 180))), 307px);
        margin-left: 0;
        margin-top: 6px;
    }
}


.responsecontainer {
    /* padding-left: 15px;
    padding-right: 15px; */
    height: 207px;
    width: 272px;

}

@media only screen and (min-width: 1850px) {
    .responsecontainer {
        /* padding-left: 15px;
        padding-right: 15px; */
        height: 315px;
        width: 430px
    }
}

/* .rechartsWrapper{
    height: 184px;

} */
.popuptitle {
    font-size: 13px;
    font-variant: small-caps;
    color: var(--blue-btn-inactive);
    text-align: center;
}

.popupavto {
    font-size: 10px;
    color: var(--blue-btn-inactive);
    padding-top: 3px;
    height: 15px;
}

.kolall {
    font-size: 16px;
    font-weight: 600;
    text-align: end;
    color: var(--blue-btn-normal);
}

.kolnew {
    font-size: 16px;
    font-weight: 600;
    text-align: end;
    color: var(--play-btn-triangle);
}

.customtooltip {
    background-color: var(--light-gray);
    width: 48px;

    padding: 2px 4px;

    border-radius: 6px;

    /* border: '1px solid #ccc', */
    /* position: absolute;
            left: x+30;
            
            top: y - 35; */
    transform: translateX(-50%);
    font-weight: 400;
    font-size: 6px;
    font-variant: smallCaps;

    font-style: normal;
}

.chartflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}