.dayCarsListContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 295px;
  padding: 8px;
  border-radius: 8px;
  background: var(--bg-secondary);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
}

@media only screen and (min-width: 1850px) {
  .dayCarsListContainer {
    width: 460px;
    max-height: 500px;
    padding: 20px 42px 13px 20px;
  }
}

.modaldayCarsListContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.listView {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.listView>* {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: var(--bg-secondary);
  border-radius: 4px;
}

.dayCarsListContainer::-webkit-scrollbar {
  width: 8px;
  background: #515562;
}

.dayCarsListContainer::-webkit-scrollbar-thumb {
  background-color: #515562;
  border-radius: 4px;
}

.dayCarsListContainer::-webkit-scrollbar-track {
  background-color: #17181C;
}

.item {
  width: 100%;
  max-width: 398px;
  border-radius: 8px;
  border: 2px solid var #3956CC;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}