.sectionWrapper {
  width: 455px;
  height: 652px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.sectionWrapper::-webkit-scrollbar {
  width: 8px;
  padding-top: 4px;
  height: 760px;
}

.sectionWrapper::-webkit-scrollbar-track {
  background-color: var(--bg);
  border-radius: 4px;
}

.sectionWrapper::-webkit-scrollbar-thumb {
  background-color: var(--main-gray);
  border-radius: 4px;
}

.wrapper {
  width: auto;
  height: auto;
  padding: 20px;
  border-radius: 12px;
  background: var(--dark-gray);
}

.wrapperScrolled {
  width: 440px;
}

.header {
  color: var(--light-gray);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
  margin-bottom: 14px;
}

.phoneNumber {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--red);
}

.problemCallPhoneNumber {
  margin-bottom: 24px;
}
.emailWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 24px;
}

.emailIcon {
  color: var(--red);
}

.nameWrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.icon {
  width: 18px;
  height: 18px;
}

.name {
  color: var(--light-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1875em;
  font-variant: small-caps;
}

.dateWrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 24px;
}

.date {
  color: var(--light-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1875em;
  font-variant: small-caps;
}

.line {
  width: 415px;
  height: 8px;
  border-radius: 12px;
  margin-bottom: 14px;
  background-color: var(--red);
}

.problemRequestMessage {
  padding: 10px;
  border-radius: 0px 12px 12px 12px;
  background-color: var(--player-secondary-bg);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
