.modal {
  display: flex;
  text-align: center;
  justify-content: center;

  width: 500px;
  height: auto;

  padding: 40px 0;
  border-radius: 6px;

  background-color: #202020;
}

.closeBtn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: inline-block;
  width: 20px;
  height: 20px;

  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.currentCarContainer {
  display: flex;
  margin-left: 39px;
  margin-bottom: 50px;
}

.currentCarImg {
  width: 146px;
  height: 120px;
  object-fit: cover;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-left: 34px;
}

.carBrand {
  color: #fff;

  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.carRegContainer {
  display: flex;
  align-items: center;
  gap: 6px;

  width: 217px;
  height: 52px;

  border-radius: 5px;
  border: 3px solid #000;
  background-color: #d9d9d9;

  margin-top: 14px;
}

.carRegCountry {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 9px;

  width: 19px;
  height: 100%;

  background-color: #00349a;
}

.carRegFlag {
  width: 12px;
  height: 8px;

  margin-top: 8px;
}

.carRegNumber {
  color: #000;

  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  font-weight: 600;

  text-transform: uppercase;
}

.carRegCountry {
  color: #fff;

  font-family: "Roboto", sans-serif;
  font-size: 9px;
  font-weight: 600;

  text-transform: uppercase;
}

.carStatus {
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  border: transparent;
}

.carReg {
  display: block;

  width: 217px;
  height: 52px;

  margin: 0 35px 10px;
}

.vinCode {
  color: #fff;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;

  padding-top: 10px;
  margin-bottom: 50px;
}

.vinNumber {
  font-size: 20px;
  font-weight: 300;

  text-transform: uppercase;

  margin-left: 17px;
}

.serviceInfo {
  width: 500px;
  height: 53px;
  background-color: #264346;
  text-align: center;
  padding: 16px 0;
  margin-bottom: 50px;
}

.icon {
  margin-right: 16px;
  fill: #d5acf3;
}

.serviceTime {
  display: inline-flex;
  align-items: center;
  color: #fff;

  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.serviceDate {
  color: #fff;

  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.radioGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-items: start;

  padding: 0 35px;
  margin: 28px 0 25px;
}

.radioGroup input {
  margin: 0;
  padding: 0;

  width: auto;
}

.radioGroup label {
  display: inline-flex;
  align-items: center;

  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.iconRadio {
  width: 16px;
  fill: #246d4d;
  margin-right: 7px;
}

.radioNew {
  color: #3956cc;
}

.radioRepair {
  color: #994ca5;
}

.radioCheckRepair {
  color: #db8120;
}

.radioComplete {
  color: #246d4d;
}

.radioGroup input[type="radio"] {
  margin-right: 10px;
}

.iconSubmit {
  width: 16px;
  height: auto;
}

.submitBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;

  width: auto;
  height: auto;

  border: transparent;
  border-radius: 6px;
  background-color: #3956cc;

  color: #fff;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}
