.modal {
  display: flex;
  text-align: center;
  justify-content: center;

  width: 506px;
  height: auto;

  padding: 40px 30px;
  border-radius: 12px;

  background-color: var(--bg);
}

.iconClose {
  width: 26px;
  height: 26px;
  fill: var(--input-stroke);
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 18px;

  display: inline-block;
  width: 20px;
  height: 20px;

  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.currentCarContainer {
  display: flex;
  width: 446px;
  margin: auto;
  justify-content: center;
  gap: 27px;
  margin-bottom: 40px;
}

.currentCarImg {
  width: 194px;
  height: 204px;
  border-radius: 6px;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.carBrand {
  color: var(--white);
  text-align: start;

  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 600;

  margin-bottom: 12px;
}

.vinContainer {
  display: flex;
  width: 210px;
  height: 46px;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #373941;
  margin-top: 25px;
  margin-left: 15px;
}

.vinCode {
  color: var(--white);

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.vinNumber {
  font-size: 14px;
  font-weight: 400;

  text-transform: uppercase;
}

.copyBtn {
  display: flex;
  width: 34px;
  height: 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: transparent;
  border-radius: 6px;
  background: var(--bg-input);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.copyIcon {
  cursor: pointer;
  color: var(--icon-gray);
}

.carRegContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 210px;
  height: 46px;
  border-radius: 6px;
  background-color: #d9d9d9;
  margin-top: 20px;
  margin-left: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.carRegCountry {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 9px;

  width: 19px;
  height: 100%;

  background-color: #00349a;
  border-radius: 6px 0 0 6px;
}

.carRegFlag {
  width: 12px;
  height: 8px;

  margin-top: 8px;
}

.carRegNumber {
  color: var(--black);

  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;

  text-transform: uppercase;
}

.carRegCountry {
  color: var(--white);

  font-family: "Roboto", sans-serif;
  font-size: 9px;
  font-weight: 600;

  text-transform: uppercase;
}

.carStatus {
  width: auto;
  height: 26px;
  padding: 1px 6px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: transparent;
  border-radius: 5px;

  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  position: relative;
}

.carStatus::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  width: 3px;
  height: 100%;
  filter: blur(5px);
  border-radius: 0 5px 5px 0;
}

.newStatus {
  color: var(--status-new);
  background: var(--status-gradient-new);
  border-left: 1px solid var(--glow-new);
  border-right: transparent;
}

.newStatus::after {
  background: var(--glow-new);
}

.repairStatus {
  color: var(--status-repair);
  background: var(--status-gradient-repair);
  border-left: 1px solid var(--glow-repair);
  border-right: transparent;
}

.repairStatus::after {
  background: var(--glow-repair);
}

.checkRepairStatus {
  color: var(--status-diag);
  background: var(--status-gradient-diag);
  border-left: 1px solid var(--glow-diag);
  border-right: transparent;
}

.checkRepairStatus::after {
  background: var(--glow-diag);
}

.completeStatus {
  color: var(--status-complete);
  background: var(--status-gradient-complete);
  border-left: 1px solid var(--glow-complete);
  border-right: transparent;
}

.completeStatus::after {
  background: var(--glow-complete);
}

.viewRepairStatus {
  color: var(--status-view-repair);
  background: var(--status-gradient-view-repair);
  border-left: 1px solid var(--glow-view-repair);
  border-right: transparent;
}

.viewRepairStatus::after {
  background: var(--glow-view-repair);
}

.carReg {
  display: block;

  width: 217px;
  height: 52px;

  margin: 0 35px 10px;
}

.serviceInfo {
  margin: auto;
  width: 446px;
  height: 53px;
  background-color: var(--bg-input);
  text-align: center;
  padding: 16px 20px;
  margin-bottom: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.icon {
  margin-right: 16px;
  fill: #d5acf3;
}

.serviceTime {
  display: inline-flex;
  align-items: center;
  color: var(--white);

  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.serviceDate {
  color: var(--white);

  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.radioGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 33px 72px;
  justify-items: start;

  padding: 0 35px;
  margin: 40px 0;
}

.radioWrapper {
  display: flex;
  height: 32px;
  position: relative;
}

.inputWrapper::after {
  content: "";
  position: absolute;
  left: 32px;
  top: 0;
  width: 3px;
  height: 100%;
  filter: blur(5px);
  border-radius: 0 5px 5px 0;
  /* background: transparent; */
}

/* .checkRepairStatus::after {
  background: var(--glow-diag);
} */

/* .completeStatus .radioWrapper::after {
  background: var(--glow-complete);
}
.repairStatus .radioWrapper::after {
  background: var(--glow-repair);
}

.viewRepairStatus .radioWrapper::after {
  background: var(--glow-view-repair);
}  */

.radioGroup input {
  margin: 0;
  padding: 0;

  width: auto;
}

.radioInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.radioGroup label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.inputWrapper {
  height: 32px;
  padding: 1px 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 0 6px;
  text-wrap: nowrap;
}

.iconRadio {
  width: 16px;
  fill: var(--light-gray);
  /* margin-right: 7px; */
}

.radioNew {
  color: var(--blue);
}

.radioRepair {
  color: #994ca5;
}

.radioCheckRepair {
  color: var(--orange);
}

.radioComplete {
  color: var(--light-gray);
}

.radioGroup input[type="radio"] {
  margin-right: 10px;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.submitBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;

  width: auto;
  height: auto;

  border: transparent;
  border-radius: 6px;
  background-color: var(--blue);

  color: var(--white);

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.submitBtn:hover,
.submitBtn:focus {
  background-color: var(--blue-btn-hover);
}

.archiveBtn {
  display: flex;
  width: auto;
  height: auto;

  padding: 10px 20px;
  gap: 10px;

  justify-content: center;
  align-items: center;

  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--main-gray);
  border-radius: 6px;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;

  cursor: pointer;
}

.iconArchive {
  width: 20px;
  height: 20px;
  fill: var(--light-gray);
}
.archiveBtn:hover,
.archiveBtn:focus {
  background-color: var(--dark-gray);
}
