.crmBlockDayCarsListContainer {
    background-color: transparent;
    box-shadow: none;
    width: 365px;
    min-height: 505px;
    padding: 0;
    
    
  }
  
  .crmCarList{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }