.wrapper {
  display: flex;
  flex-direction: column;
}

.mainContainer {
  display: flex;
  flex-direction: row;
}

.mainTitle {
  margin: 6px 0 12px;
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.rightContainer {
  position: relative;
  width: 995px;
  height: 921px;
  border-radius: 12px;
  margin-left: 14px;
  z-index: 1;
  padding: 31px 40px 23px;
  background: var(--bg-input) radial-gradient(350px at 50% 50%, rgba(81, 122, 184, 0.16) 0%, transparent 100%);
  background-position: 10px -381px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.rightContainer::before,
.rightContainer::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  /* filter: blur(200px); */
  z-index: -1;
}

.rightContainer::before {
  background: radial-gradient(512px at 50% 50%, rgba(184, 112, 81, 0.35) 0%, transparent 100%) no-repeat;
  /* background: rgba(184, 112, 81, 0.35); */
  opacity: 0.28;
  width: 1029px;
  height: 1229px;
  top: 91px;
  right: 336px;
}

.rightContainer::after {
  background: radial-gradient(357px at 50% 50%, rgba(81, 141, 184, 0.60) 0%, transparent 100%) no-repeat;
  /* background: rgba(81, 141, 184, 0.60); */
  opacity: 0.2;
  width: 738px;
  height: 714px;
  bottom: -90px;
  right: -155px;
}