.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1080px;
    height: 267px;
    /* border: 1px solid var(--light-gray); */
    border-radius: 12px;
    flex-direction: row;
    padding: 25px 20px;
    background-color: var(--bg-secondary);
}