
.archiveList{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.message{
   display: block;
   width: 170px;
   margin-left: auto;
   margin-right:auto ;
}

.scrollWrapper{
  overflow-y: auto;
  height: 705px; 
}

.scrollWrapper::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollWrapper::-webkit-scrollbar-thumb {
    background-color: var(--main-gray);
    border-radius: 4px;
  }
  
  .scrollWrapper::-webkit-scrollbar-track {
    background-color: var(--bg);
    border-radius: 4px;
  }