.treeContainer {
  max-height: auto;
  overflow-y: auto;
}
.treeItem {
  /* padding: 0; */
}

.treeBox{
  margin-top: 10px;
}

.MuiTreeItem-label {
  font-variant: small-caps;
  font-size: 16px;
}

.treeLabel {
  display: flex;
  align-items: center;
  font-variant: small-caps;
  font-size: 16px;
}


.nestedList {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
  margin-top: 10px;
}

.listItem {
  margin: 3px 0;
}

.link {
  text-decoration: none;
  color: inherit;
}