.container {
  width: 864px;
  border-radius: 12px;
  margin-left: 1px;
  /* background: linear-gradient(180deg, rgba(81, 85, 98, 0.75) 39px, #8B8B8B 30%, #566596 50%, #8E8E8E 90%, #23252E 100%); */
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(81, 85, 98, 0.75) 10%,
      rgba(81, 85, 98, 0.75) 90%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(81, 85, 98, 0.75) 300px,
      rgba(0, 0, 0, 0.1) 11px
    );
}

.workScheduleGrid {
  display: grid;
  grid-template-rows: 39px repeat(7, 30px);
  grid-template-columns: 85px repeat(15, 1fr);
  gap: 1px;

  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 867px;
  margin-left: -1px;
}

.daycell {
  color: white;
  text-align: center;
  background-color: #31353e;
  color: white;
  text-align: center;
  font-size: 16px;
  width: 89px;
  border-left: 2px solid #31353e;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.hourCell {
  width: 51px;
  height: 30px;
  border: 1px solid transparent;
  text-align: center;
  cursor: pointer;
}

.headercell {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: rgba(81, 85, 98, 0.75);
  color: var(--white);
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.headercell:first-child {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  padding-top: 10px;
  border-radius: 12px 0 0 0;
}

.headerlast {
  border-radius: 0 12px 0 0;
  border-top-right-radius: 12px;
}

.cell:hover {
  background-color: var(--blue-btn-hover);
}

.active {
  background-color: var(--blue-btn-normal);
}

.inactive {
  background-color: #31353e;
}

.dayLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #31353e;
  color: white;
  text-align: center;
  font-size: 16px;
  width: 85px;
  font-style: normal;
  line-height: normal;
  font-weight: 300;
}

.lastDayLabel {
  border-radius: 0 0 0 12px;
}

.cell {
  height: 30px;
  text-align: center;
  cursor: pointer;
}

.cell:last-child {
  border-radius: 0 0 12px 0;
}
