.btnBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    padding: 5.5px 0;
}

.btnService {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 150px;
    height: 101px;
    padding: 10px;

    gap: 16px;
    flex-shrink: 0;
    border-radius: 6px;

    background: var(--bg-input);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
}

.btnService:not(:first-child):hover{
    background: var(--CRM-modal-hover);
    cursor: pointer;
}



.title {
    color: var(--white);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.value {
    color: var(--white);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.valueWords {
    font-size: 24px;
}

.isActiveBtn {
    border-radius: 12px;
    border: 1px solid var(--light-gray);
    background: var(--CRM-modal-hover);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}