.wrapper {
    display: flex;
    width: 100%;
    height: 28px;
}

.wrapper > div:nth-child(1) {
  margin-right: 400px;
}

.wrapper > div:nth-child(2) {
  margin-right: 134px;
}

.wrapper > div:nth-child(3) {
  margin-right: 63px;
}

.wrapper > div:nth-child(4) {
  margin-right: 86px;
}

.wrapper > div:nth-child(5) {
  margin-right: 149px;
}

.wrapper > div:nth-child(6) {
  margin-right: 143px;
}

.wrapper > div:nth-child(7) {
  margin-right: 98px;
}

.wrapper > div:nth-child(8) {
  margin-right: 87px;
}

.wrapper > div:nth-child(9) {
  margin-right: 39px;
}
