.container {
    width: 1529px;
    height: 580px;
}

.grid {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 6px;
}

.statusHeader {
    width: 370px;
    height: 61px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
   

    padding: 21px 38px 19px 29px;
  }

.firstStatus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="368" height="61" viewBox="0 0 370 61" fill="none"><path d="M0 0.253906H359.64L370 30.5079L359.64 60.7618H0V0.253906Z" fill="%2323252C"/></svg>');
    border-left: 3px solid var(--status-new);
}

.column:not(:first-child) .statusHeader {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="368" height="61" viewBox="0 0 370 61" fill="none"><path d="M0 0.253906H359.863L370 30.5079L359.863 60.7618H0L7.96477 30.5079L0 0.253906Z" fill="%2323252C"/></svg>');
}


.carListBlock{
display: flex;
/* gap: 13px; */
width: 365px;

}
.carCount{
    margin-left: auto;
}

.svgIcon {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}