.teamList{
    width: 385px;
    height: fit-content;
    border-radius: 7px;

    padding-left: 28px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 14px;

    background-color: #292929;

}

.contentBox{
width: 320px;

display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;

padding-top: 10px;
padding-bottom: 12px;
}

.teamListItem:not(:last-child) .contentBox{
border-bottom: solid 1px black;
}


.teamListItem{
    height: 55px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 14px;
/* 
    padding-top: 10px;
    padding-bottom: 12px; */
   
}

/* .teamListItem:not(:last-child) {
 border-bottom: solid 1px black;

} */

.memberPhoto{
    width: 32px;
    height: 35px;
    border-radius: 35px;
background-color: antiquewhite;

margin-right: 13px;
}

.nameBox{
    margin-right: 16px;
}

.memberName{
    color: #FFF;
    
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
}

.memberEmail{
    color: #FFF;
    
        font-size: 11px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
}

.memberRole{
    width: 100px;
    height: 21px;
    background-color: #4F4F4F;
    outline: none;
    border: none;

    color: #FFF;
    
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
}

.binIcon{
    width: 8px;
    height: 10px;
    fill: #A1A1A1;  
    cursor: pointer;
}