.wrapper {
    display: flex;
    align-items: center;
    border-radius: 12px;
    background: var(--bg-secondary);
    overflow: hidden;
    width: 325px;
  }

  .navContainer{
    display: flex;
    align-items: center;
    gap: 19px;
    height: 39px;
  }
  
  .navText {
    color: var(--light-gray);
    font-size: 16px;
    font-variant: small-caps;
    transition: color 0.3s ease;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  .navText:not(:last-child) {
    border-right: 1px solid var(--main-gray);
  }
  
  .navText.active {
    background-color: var(--main-gray);
  }
  
  .disabled {
    pointer-events: none;
    color: var(--input-text); 
  }