.accountBox{
    margin-top: 59.5px;
    border-top: 1px solid #000;
    width: 635px;
    padding: 30px 47px 45px 43px;
    display: flex;
    flex-direction: column;
}

.titles {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin-bottom: 16px;
}

.email {
    width: 545px;
    height: 43px;
    padding: 15px 20px;
    border-radius: 7px;
    border: 1px solid #302F2F;

    background-color: #282828;
    outline: none;

    display: flex;
    align-items: center;
    /* padding-left: 20px; */

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color:#FFF;
   

}

.emailBox{
    position: relative;
    display: flex;
    flex-direction: column; 
    margin-bottom: 46px;

}

.warningMessage{
    color: #FF6363;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-left: 20px; */
    cursor:default;
    position: absolute;
    left: 20px;
    top: 105%;
}

.passwortChBtn {
    width: 165px;
    height: 43px;
    margin-bottom: 24px;
    padding: 15px 37px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;

    border-radius: 7px;
    background-color: #3956CC;

    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.inputs {
    width: 545px;
    height: 43px;

    border-radius: 7px;
    border: 1px solid #302F2F;

    background-color: #282828;
    outline: none;
    color: #FFF;

    margin-bottom: 24px; 
    padding: 15px 20px;
}

.inputs:-webkit-autofill{
    background-color: #282828 !important;
    color: white !important;
    box-shadow: 0 0 0px 1000px #282828 inset !important;
    -webkit-text-fill-color: white !important;
}

.inputs:-webkit-autofill:hover,
.inputs:-webkit-autofill:focus{
    background-color: #282828 !important;
    color: white !important;
    box-shadow: 0 0 0px 1000px #282828 inset !important;
    -webkit-text-fill-color: white !important;
}



.btnBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
    margin-left: auto;
    margin-top: 10px;
}

.cancelBtn {
    width: 81px;
    height: 43px;

    border-radius: 7px;
    border: 1px solid #767676;
    background-color: transparent;

    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.saveBtn {
    width: 139px;
    height: 43px;

    border-radius: 7px;
    background-color: #3956CC;

    border: none;

    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}


/* .icon{
        width: 26px;
        height: 26px;
        border-radius: 50%;
       background-size: cover; 
} */

