.accountBox{
    /* margin-top: 59.5px; */
    /* border-top: 1px solid #000; */
    width: 975px;
    padding: 82px 42px;
    display: flex;
    flex-direction: column;
  
}

@media only screen and (min-width: 1920px) {
  .accountBox {
    width: 1057px;
  }
}

/* .accountBox:last-child{
      margin-bottom: 118px;
} */

/* .contentBox{
    display: flex;
    flex-direction: column;
    gap:50px;
    margin-bottom: 118px;
} */

.titles {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size:20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-bottom: 8px;
}

.email {
    width: 100%;
    /* height: 43px; */
    padding: 18px 20px;
    border-radius: 10px;
    border: 1px solid #4A4A4A;

    background-color: #282828;
    outline: none;

    display: flex;
    align-items: center;
    /* padding-left: 20px; */

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color:#C7C7C7;
   

}

.emailBox{
    position: relative;
    display: flex;
    flex-direction: column; 
    margin-bottom: 70px;

}

.warningMessage{
    color: #FF6363;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-left: 20px; */

    cursor:default;
    position: absolute;
    left: 20px;
    top: 105%;
}

.passwordBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.passwortChBtn {
   width:fit-content;
     /* height: 43px; */
    /* margin-bottom: 24px; */
    padding: 15px 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: none;

    border-radius: 8px;
    background-color: #3956CC;

    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.iconKey{
    fill: #C7C7C7;
}

.companyBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    position: relative;
}

.input {
    width: 100%;
    /* height: 43px; */

    border-radius: 10px;
    border: 1px solid #4A4A4A;

    background-color: #282828;
    outline: none;

    color: #C7C7C7;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    

    /* margin-bottom: 24px;  */
    padding: 18px 20px;
}

.input::placeholder{
    color: var(--Button-grey, #4A4A4A);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input:-webkit-autofill{
    background-color: #282828 !important;
    color: white !important;
    box-shadow: 0 0 0px 1000px #282828 inset !important;
    -webkit-text-fill-color: white !important;
}

.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus{
    background-color: #282828 !important;
    color: white !important;
    box-shadow: 0 0 0px 1000px #282828 inset !important;
    -webkit-text-fill-color: white !important;
}

.errorMessage{
    color: #FF6363;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        /* margin-left: 20px; */
    
        cursor: default;
        position: absolute;
        left: 20px;
        top: 100%;
}


.languageBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 118px;
}



.btnBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    /* margin-left: auto; */
    /* margin-top: 10px; */
}

.cancelBtn {
    width: fit-content;
    /* height: 43px; */
    padding: 15px 30px;

    border-radius: 8px;
    border: 1px solid #767676;
    background-color: transparent;

    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.saveBtn {
    width: fit-content;
    /* height: 43px; */
    padding: 15px 30px;

    border-radius: 8px;
    background-color: #3956CC;

    border: none;

    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.iconSave{
    fill: #C7C7C7;
}

/* .icon{
        width: 26px;
        height: 26px;
        border-radius: 50%;
       background-size: cover; 
} */

