.cbLabel {
  color: var(--white);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px;

  display: flex;
  gap: 10px;
  align-items: center;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

  /* border: 1px solid white; */
}

.cbPartBox {
  display: flex;
  gap: 15px;

  margin-bottom: 20px;
}

.checkbox {
  display: none;
}

.cbIcon {
  display: none;
}

.cbMark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */

  border: 2px solid var(--white);
  border-radius: 4px;
  background-color: transparent;
}

.checkbox:checked + .cbMark {
  border: 2px solid var(--blue);
}

.checkbox:checked + .cbMark > .cbIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--blue);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.radiobutton {
  display: none;
}

.radioBtns {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.radioLabel {
  color: var(--white);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  align-items: center;
  gap: 15px;

  height: 75px;
}

.radiospan {
  width: 24px;
  height: 24px;
  /* border-radius: 20px; */
  fill: var(--blue);

  /* padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; */
}

/* .dotIcon{
    display: none;
}

.radiobutton:checked + .radiospan > .dotIcon{
    display: flex;
    fill: var(--blue);
} */

.radioAndInputs {
  display: flex;
  gap: 89px;

  max-height: 450px;
  overflow-y: auto;
  margin-bottom: 15px;
}

.radioAndInputs::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}

.radioAndInputs::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--player-secondary-bg);
}

.radioAndInputs::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #202020;
}

.inputsPart {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* .labelAndInputs {
  height: 75px;
} */

.labels {
  display: flex;
  gap: 10px;
  margin-bottom: 4px;
}

.Inputs {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: row;
}

/* .inputBox{
    display: flex;
    flex-direction: column;
    gap: 4px;
} */

.inputLabel {
  color: var(--input-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 136px;
}

.input {
  display: flex;
  padding: 18px 20px;

  border-radius: 10px;
  border: 1px solid var(--input-stroke);
  background: var(--bg-input);

  color: var(--light-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1875em;

  width: 136px;
  text-align: center;
  outline: none;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  display: none;
}

.btnPlus {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background-color: var(--green);
  cursor: pointer;
}

.btnPlus:hover {
  background-color: var(--green-btn-hover);
}

.iconPlus {
  display: flex;
  width: 14px;
  height: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: var(--green);
  background-color: var(--white);
  stroke-width: 2px;
}

.plus {
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.inputsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;

  /* height: 80px;
    overflow-y: auto;
    overflow-x: hidden; */
}

.iconMinus {
  fill: var(--red);
}

.cancel {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  border: 1px solid var(--light-gray);
  background-color: transparent;

  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  cursor: pointer;
}

.save {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 6px;
  background: var(--green-btn-normal);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  border: none;

  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btnBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: auto;
  margin-left: auto;
}

.sparesPart {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  height: 100%;
  /* overflow: auto; */
}

/* .inputsList{
    height:100px;
 } */

.select {
  appearance: none;

  display: flex;
  padding: 10px;
  padding-right: 38px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;
  height: 43px;

  color: var(--white);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  background-color: var(--bg-secondary);
  border: none;
  cursor: pointer;
  text-align: center;

  outline: none;
}

.select > option {
  font-size: 20px;
}

.iconArrow {
  fill: var(--icon-gray);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  pointer-events: none;
}

.selectBox {
  position: relative;
}
