.modalBox {
  padding: 40px;
  background-color: var(--bg-input);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modalTitle {
  color: var(--light-gray);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.field {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  border: 1px solid var(--input-stroke);
  background: var(--bg-input);

  color: var(--light-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  outline: none;
}

.field:-webkit-autofill {
  background-color: var(--bg-input) !important;
  color: var(--light-gray) !important;
  box-shadow: 0 0 0px 1000px var(--bg-input) inset !important;
  -webkit-text-fill-color: var(--light-gray) !important;
}

.field:-webkit-autofill:hover,
.field:-webkit-autofill:focus {
  background-color: var(--bg-input) !important;
  color: var(--light-gray) !important;
  box-shadow: 0 0 0px 1000px var(--bg-input) inset !important;
  -webkit-text-fill-color: var(--light-gray) !important;
}

.btnBox {
  display: flex;
  gap: 10px;
}

.btnClose {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--light-gray);
  background-color: transparent;

  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.btnSave {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: none;
  border-radius: 6px;
  background: var(--blue-btn-normal);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  cursor: pointer;
}
