@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .wrapper {
    width: 386px;
    /* height: 199px; */
    overflow: scroll;
  }
  .wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari та Opera */
  }

  .carsList {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media screen and (min-width: 1920px) {
  .wrapper {
    width: 578px;
  }

  .carsList {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
