* {
  scrollbar-color: none;
}

.wrapper {
  width: 386px;
  /* висота потрібна для відображення скролу списку поточних машин */
  height: 199px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
}
.wrapper::-webkit-scrollbar {
  width: 8px;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: #4A4A4A;
  border-radius: 4px;
}

.wrapper::-webkit-scrollbar-track {
  width: 8px;
  height: 54px;
  background-color: #1A1A1A;;
  border-radius: 4px;
}
.carsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (min-width: 1920px) {
  .wrapper {
    width: 578px;
    /* висота потрібна для відображення скролу списку поточних машин */
    height: 296px;
    /* overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; */
    
  }

  /* .wrapper::-webkit-scrollbar {
    display: none;
  } */

  .carsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
