.teamBox{
    margin-top: 59.5px;
    border-top: 1px solid #000;
    width: 635px;
    padding: 28px 29px 20px 17px;

    display: flex;
    flex-direction: row;
    gap: 14px;
}

/* .contentBox{
    
} */

.title{
    color: #FFF;
    
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        margin-bottom: 18px;
}

.text{
    width: 190px;
    height: 112px;
    margin-bottom: 18px;

    color: #FFF;
    
        font-family: Raleway;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: var(--Label-Medium-Line-Height, 16px);

    
}

.addBtn{
    width: 137px;
    height: 38px;

    border: none;

    border-radius: 7px;
    background: #3956CC;

    color: #FFF;
    
        font-family: Raleway;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        cursor: pointer;
}