.teamBox {
    width: 975px;
    height: 850px;
    padding: 125px 40px 0px 42px;

    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media only screen and (min-width: 1850px) {
    .teamBox {
        width: 1056px;
    }
}

@media only screen and (max-width: 1279.9px) {
    .teamBox {
        padding-bottom: 37px;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1849.98px) {
    .teamBox {
        gap: 10px;
    }
}

@media only screen and (max-width: 767.9px) {
    .teamBox {
        padding: 74px 40px 21px 26px;
        gap: 60px;
    }
}

.title {
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-bottom: 20px;

    cursor: default;
}

@media only screen and (max-width: 767.9px) {
    .title {
        font-size: 16px;
    }
}

.text {
    /* width: 190px;
    height: 112px; */
    width: 347px;
    margin-bottom: 34px;

    cursor: default;

    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    ;
}

@media only screen and (max-width: 1849.98px) {
    .text {

        width: 299px;
    }
}

@media only screen and (max-width: 767.9px) {
    .text {
        font-size: 14px;
        margin-bottom: 26px;
        width: 221px;
    }
}

.addBtn {
    width: fit-content;
    padding: 12px 20px;
    /* height: 38px; */

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border: none;

    border-radius: 8px;
    background-color: var(--blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    color: var(--white);

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    cursor: pointer;
}

.addBtn:hover {
    background-color: var(--blue-btn-hover);
}

.addBtn:active {
    background-color: var(--blue-btn-inactive);
}

@media only screen and (min-width: 1850px) {
    .addBtn {
        padding: 15px 30px;
    }
}

.closeBtn {
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;

    width: 18px;
    height: 18px;
    stroke: var(--input-stroke);
}