.wrapper {
  display: flex;
  flex-direction: column;
  width: 1526px;
  height: 849px;
  /* border: 1px solid var(--light-gray); */
  border-radius: 12px;

  overflow-x: auto;
  scroll-behavior: smooth;
}

.wrapper:active {
  cursor: grabbing;
}

.wrapper::-webkit-scrollbar {
  height: 8px;
}

.wrapper::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: var(--bg-secondary);
}

.wrapper::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--main-gray);
}
