.wrapper {
  display: flex;
  gap: clamp(6px, min(0.925vh, 0.54vw), 10px);
  justify-content: flex-end;
}

.closeBtn {
  display: flex;
  width: clamp(66px, min(5.189vw, 3.333vh * 2.667), 96px);
  height: clamp(24px, min(3.333vh, 5.189vw / 2.667), 36px);
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--light-gray);
  color: var(--white);
  font-size: clamp(9px, min(1.296vh, 0.756vw), 14px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.submitBtn {
  display: flex;
  width: clamp(86px, min(6.757vw, 3.333vh * 3.472), 125px);
  height: clamp(24px, min(3.333vh, 6.757vw / 3.472), 36px);
  gap: clamp(6px, min(0.925vh, 0.54vw), 10px);
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--green-btn-normal);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--white);
  font-size: clamp(9px, min(1.296vh, 0.756vw), 14px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  outline: none;
  cursor: pointer;
  border: none;
}

.submitBtn:hover {
  background-color: var(--green-btn-hover);
}

.submitBtnIcon {
  width: clamp(9px, min(1.296vh, 0.756vw), 14px);
  stroke: var(--white);
}