.statsList {
  display: flex;
  gap: 7px;
  width: 100%;
}

@media only screen and (min-width: 1850px) {
  .statsList {
    gap: 8px;
  }
}

.statsItem {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 136px;
  height: 57px;
  padding: 8px 16px;
  border-radius: 12px;
  background-color: var(--bg-secondary);
}

@media only screen and (min-width: 1850px) {
  .statsItem {
    width: 204px;
    height: 83px;
    justify-content: center;
  }
}

.statsItem:first-child {
  background-color: var(--blue);
}

.statsItemValue {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.statsItemTitle {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 300;
}