.changePasswordForm {
    width: 400px;
    height: 250px;
    padding: 30px;


    background-color: var(--bg-secondary);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.inputWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

/* @media screen and (max-width: 1279.98px) {
    .inputWrapper {
        gap: 12px;
    }
} */

.registrationlabel {
    font-weight: 500;
    font-size: 16px;
    color: var(--white);
    font-style: normal;
    line-height: normal;
}

.inputWithIconWrapper {
    display: flex;
    position: relative;
    align-items: center;
}

.inputIcon {
    position: absolute;
    left: 14px;
    color: var(--icon-gray);
    fill: var(--icon-gray);
    width: 15px;
    height: 15px;
}

/* @media screen and (max-width: 1279.98px) {
    .inputIcon {
        left: 20px;
    }
} */

.eyeIconBtn {
    position: absolute;
    right: 12px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
}

/* @media screen and (max-width: 1279.98px) {
    .eyeIconBtn {
        right: 10px;
    }
} */

.eyeIcon {
    color: var(--icon-gray);
    fill: var(--icon-gray);
    width: 15px;
    height: 15px;
}

.input {
    background-color: var(--bg-input);
    border: 1px solid var(--input-stroke);
    border-radius: 10px;


    font-weight: 400;
    font-size: 13px;
    font-style: normal;
    line-height: 1.18em;
    color: var(--white);

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    width: 100%;

    outline: none;
}

/* @media screen and (max-width: 1279.98px) {
    .input {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 40px;
    }
} */

.input::placeholder {
    font-size: 10px;
    font-weight: 500;
}

.errorMsg {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: var(--red);
    position: absolute;
    top: 100%;
    left: 15px;
    white-space: nowrap;
}

.btnBox {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 10px;
}

.btnSave {
    padding: 10px 20px;
    background-color: var(--blue);
    border: none;
    border-radius: 8px;
    cursor: pointer;

    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btnSave:hover {
    background-color: var(--blue-btn-hover);
}

.btnSave:active {
    background-color: var(--blue-btn-inactive);
}

.btnClose {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid var(--input-stroke);
    border-radius: 8px;
    cursor: pointer;

    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}