.modal {
  background-color: var(--bg-secondary);
  padding: 40px;
  width: 580px;
  border-radius: 12px;
}

.headerWrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 14px;
}

.changedInput {
  background: var(--main-gray);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 6px 20px;
  color: var(--light-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.changedInput:focus {
  border-color: var(--light-gray);
  outline: none;
}

.changedInput:-webkit-autofill {
  background-color: var(--bg-input) !important;
  color: var(--white) !important;
  box-shadow: 0 0 0px 1000px var(--bg-input) inset !important;
  -webkit-text-fill-color: var(--white) !important;
}

.changedInput:-webkit-autofill:hover,
.changedInput:-webkit-autofill:focus {
  background-color: var(--bg-input) !important;
  color: var(--white) !important;
  box-shadow: 0 0 0px 1000px var(--bg-input) inset !important;
  -webkit-text-fill-color: var(--white) !important;
}

.closeIcon {
  position: absolute;
  right: 4px;
  width: 18px;
  height: 18px;
  fill: var(--light-gray);
}

.closeIconCreateClient {
  width: 18px;
  height: 18px;
  fill: var(--light-gray);
}

.closeIcon:hover {
  cursor: pointer;
}

.serviceNameWrapper {
  display: flex;
  gap: 14px;
  max-width: 460px;
  align-items: center;
}

.autoServiceName {
  color: var(--light-gray);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 425px;
}

/* .popupContainer {
  position: relative;
  /* top: -10px;
  left: -70px; */
  /* z-index: 10;
  background: var(--bg-input);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
} */

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  position: relative;
}

.dotsIcon {
  color: var(--light-gray);
}

.logo {
  margin-bottom: 33px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.uploadLogoText {
  color: var(--light-gray);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
}

.uploadAvatarText {
  color: var(--input-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

.logoImg {
  width: 102px;
  height: 100%;
  object-fit: cover;
}

.inputDisabled {
  display: none;
}

.avatarLabel {
  display: flex;
  gap: 4px;
  cursor: pointer;
  align-items: center;
}

.camera {
  width: 24px;
  height: 24px;
  color: var(--icon-gray);
}

.cloud {
  fill: var(--light-gray);
  width: 18px;
  height: 18px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.addressWrapper {
  display: grid;
  gap: 6px;
  grid-template-columns: auto 374px;
  align-items: center;
}

.addressWrapperCreateClient {
  display: grid;
  gap: 6px;
  grid-template-columns: auto 1fr 18px;
  align-items: center;
}

.labelName {
  color: var(--light-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.label {
  color: var(--light-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}

.fieldWithErrorWrapper {
  position: relative;
}

.text {
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 6px 20px;
  text-align: center;
  border-radius: 6px;
  background-color: var(--contacts-info-bg);
}

.inputsWrapper {
  display: grid;
  gap: 22px;
  grid-template-columns: 1fr 1fr;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.input {
  border-radius: 4px;
  border: 1px solid var(--input-stroke);
  background: var(--bg-input);
  padding: 6px 20px;
  text-align: center;
  color: var(--light-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}

.input:focus {
  border-color: var(--light-gray);
  outline: none;
}

.input:-webkit-autofill {
  background-color: var(--bg-input) !important;
  color: var(--white) !important;
  box-shadow: 0 0 0px 1000px var(--bg-input) inset !important;
  -webkit-text-fill-color: var(--white) !important;
}

.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  background-color: var(--bg-input) !important;
  color: var(--white) !important;
  box-shadow: 0 0 0px 1000px var(--bg-input) inset !important;
  -webkit-text-fill-color: var(--white) !important;
}

.input::placeholder {
  color: var(--input-text);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.errorMsg {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: red;
  position: absolute;
  top: 100%;
  left: 0;
  white-space: nowrap;
}

.btnWrapper {
  margin-top: 10px;
}
