.inputWrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.inputFilter {
    width: 190px;
    height: 27px;
    /* flex-shrink: 0; */
    background-color: var(--bg-input);
    border: none;
    border-radius: 13px;
    padding: 7px 7px 7px 35px;
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.18em;
}

.inputFilter:-webkit-autofill {
    background-color: var(--bg-input) !important;
    color: var(--white) !important;
    box-shadow: 0 0 0px 1000px var(--bg-input) inset !important;
    -webkit-text-fill-color: var(--white) !important;
}

.inputFilter:-webkit-autofill:hover,
.inputFilter:-webkit-autofill:focus {
    background-color: var(--bg-input) !important;
    color: var(--white) !important;
    box-shadow: 0 0 0px 1000px var(--bg-input) inset !important;
    -webkit-text-fill-color: var(--white) !important;
}

.inputFilter.isHeader {
    width: 200px;
  }

.inputFilter::placeholder {
    color: var(--text-gray);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.18em;
    /* padding: 5px 30px 5px 17px; */
}

.button {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    background-color: var(--main-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon {
    flex-shrink: 0;
    color: var(--white);
}

.errorMsg {
    position: absolute;
    top: 25px;
    text-wrap: nowrap;
    color: var(--red);
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
}

.clearButton {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .clearIcon {
    font-size: 20px;
    color: #888;
  }