.inputWrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.inputFilter {
    width: 158px;
    height: 27px;
    /* flex-shrink: 0; */
    background-color: var(--bg-input);
    border: none;
    border-radius: 13px;
    padding: 7px 7px 7px 45px;
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.18em;
}

.inputFilter.isHeader {
    width: 188px;
  }

.inputFilter::placeholder {
    color: var(--text-gray);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.18em;
    /* padding: 5px 30px 5px 17px; */
}

.button {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    background-color: var(--main-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon {
    flex-shrink: 0;
    color: var(--white);
}

.errorMsg {
    position: absolute;
    top: 25px;
    text-wrap: nowrap;
    color: var(--red);
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
}