.carLineContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: var(--bg-input);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  width: 1284px;
  width: clamp(888px, min(69.405vw, 118.889vh), 1284px);
  /* min-width: 400px; */
  /* height: 48px; */
  padding: clamp(5px, min(0.432vw, 0.741vh), 8px);
  align-items: center;
  justify-content: space-between;
}

.carNumber {
  color: var(--white);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: clamp(9px, min(1.296vh, 0.756vw), 14px);
  font-weight: 300;
  line-height: normal;
  /* width: 70px; */
  width: clamp(48px, min(6.481vh, 3.783vw), 70px);
  margin-right: 0px;
}

.carPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 32px;
  width: clamp(24px, min(1.946vw, 2.963vh * 1.125), 36px);
  height: clamp(21px, min(2.963vh, 1.946vw / 1.125), 32px);
}

.carPhoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoName {
  /* width: 90px; */
  width: clamp(62px, min(8.333vh, 4.865vw), 90px);
  overflow: hidden;
  white-space: nowrap;
}

.textName {
  color: var(--white);
  font-size: clamp(12px, min(1.481vh, 0.864vw), 16px);
  font-weight: 600;
  line-height: normal;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: clamp(4px, min(0.648vh, 0.378vw), 7px);
  width: clamp(94px, min(7.405vw, 2.222vh * 5.708), 137px);
  height: clamp(16px, min(2.222vh, 7.405vw / 5.708), 24px);
  /* padding-left: 8px; */
  padding-left: clamp(5px, min(0.432vw, 0.741vh), 8px);

  border-radius: 6px;
}

.statusText {
  display: flex;
  align-items: center;
  font-size: clamp(9px, min(1.296vh, 0.756vw), 14px);
  font-weight: 500;
  line-height: 1.1em;
  font-variant: small-caps;
  text-overflow: ellipsis;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.completed {
  font-size: clamp(9px, min(1.296vh, 0.756vw), 14px);
  color: var(--status-complete);
}

.new {
  font-size: clamp(9px, min(1.296vh, 0.756vw), 14px);
  color: var(--status-new);
}

.repair {
  font-size: clamp(9px, min(1.296vh, 0.756vw), 14px);
  color: var(--status-repair);
}

.checkRepair {
  font-size: clamp(9px, min(1.296vh, 0.756vw), 14px);
  color: var(--status-diag);
}

.infoCar {
  display: flex;
  align-items: center;
  gap: clamp(5px, min(0.432vw, 0.741vh), 8px);
}

.textName {
  display: flex;
  color: var(--white);
  font-weight: 600;
  font-size: clamp(12px, min(1.481vh, 0.864vw), 16px);
}

.nameCar {
  color: var(--white);
  font-size: clamp(12px, min(1.481vh, 0.864vw), 16px);
  /* width: 140px; */
  width: clamp(97px, min(7.568vw, 12.963vh), 140px);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* max-width: 120px; */
}

.btnContainer {
  display: flex;
  align-items: center;
  gap: clamp(5px, min(0.432vw, 0.741vh), 8px);
}

.btnDetail {
  display: flex;
  /* padding: 5px 10px; */
  justify-content: center;
  align-items: center;
  /* width: 58px;
  height: 24px; */
  width: clamp(40px, min(3.135vw, 2.222vh * 2.417), 58px);
  height: clamp(16px, min(2.222vh, 3.135vw / 2.417), 24px);
  border-radius: 6px;
  background-color: var(--blue);
  border: none;
  cursor: pointer;
}

.btnDetailText {
  color: var(--white);
  font-size: clamp(10px, min(1.111vh, 0.648vw), 12px);
  font-weight: 600;
}

.timeWork {
  display: flex;
  align-items: center;
  gap: clamp(4px, min(0.648vh, 0.378vw), 7px);
  color: var(--text-gray);
}

.time {
  font-size: clamp(9px, min(1.296vh, 0.756vw), 14px);
}

.infoVin {
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 6px;
  background: var(--main-gray);
  padding: clamp(2px, min(0.278vh, 0.162vw), 3px) clamp(6px, min(0.925vh, 0.54vw), 10px);
  /* width: 180px; */
  width: clamp(124px, min(16.667vh, 9.730vw), 180px);
}

.vinNum {
  font-size: clamp(9px, min(1.296vh, 0.756vw), 14px);
  font-weight: 400;
  line-height: normal;
}

.totalPay {
  display: flex;
}

.status {
  display: flex;
}

.leftContainer,
.rightContainer {
  display: flex;
  align-items: center;
  gap: clamp(5px, min(0.432vw, 0.741vh), 8px);
}

.mileInfo {
  display: flex;
  align-items: center;
  gap: clamp(4px, min(0.648vh, 0.378vw), 7px);
}