.carLineContainer {
    display: flex;
    width: 1284px;
    min-width: 400px;
    /* height: 48px; */
    padding: 8px;
    align-items: center;
}

.carPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 32px;
}

.carPhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textName {
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}