.registrationForm {
  background-color: var(--bg-secondary);
  padding: 41px 72px 37px 72px;
  width: 448px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1279.98px) {
  .registrationForm {
    padding: 20px;
    width: 524px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 767.98px) {
  .registrationForm {
    width: 275px;
  }
}

.registrationHeader {
  font-size: 32px;
  color: var(--white);
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.welcomeText {
  font-weight: 500;
  font-size: 14px;
  color: var(--input-text);
  font-style: normal;
  line-height: normal;
  margin-bottom: 44px;
}

@media screen and (max-width: 1279.98px) {
  .welcomeText {
    margin-bottom: 14px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1279.98px) {
  .wrapper {
    gap: 14px;
    margin-bottom: 14px;
  }
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.registrationlabel {
  font-weight: 500;
  font-size: 14px;
  color: var(--white);
  font-style: normal;
  line-height: normal;
}

.inputWithIconWrapper {
  display: flex;
  position: relative;
  align-items: center;
}

.inputIcon {
  position: absolute;
  left: 16px;
  color: var(--icon-gray);
  fill: var(--icon-gray);
  width: 10px;
  height: 10px;
}

@media screen and (max-width: 1279.98px) {
  .inputIcon {
    left: 20px;
  }
}

.eyeIconBtn {
  position: absolute;
  right: 12px;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}

@media screen and (max-width: 1279.98px) {
  .eyeIconBtn {
    right: 10px;
  }
}

.eyeIcon {
  color: var(--icon-gray);
  fill: var(--icon-gray);
  width: 10px;
  height: 10px;
}

.input {
  background-color: var(--bg-input);
  border: none;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.142em;
  color: var(--white);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 34px;
  width: 100%;
}

@media screen and (max-width: 1279.98px) {
  .input {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
  }
}

.input:-webkit-autofill {
  background-color: var(--bg-input) !important;
  color: var(--white) !important;
  box-shadow: 0 0 0px 1000px var(--bg-input) inset !important;
  -webkit-text-fill-color: var(--white) !important;
}

.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  background-color: var(--bg-input) !important;
  color: var(--white) !important;
  box-shadow: 0 0 0px 1000px var(--bg-input) inset !important;
  -webkit-text-fill-color: var(--white) !important;
}

.input::placeholder {
  font-size: 14px;
  font-weight: 500;
}

.errorMsg {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: red;
  position: absolute;
  top: 100%;
  left: 0;
  white-space: nowrap;
}

.submitButton {
  background-color: var(--play-btn-triangle);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
  line-height: 1.19em;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1279.98px) {
  .submitButton {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.bottomSectionWrapper {
  display: flex;
  gap: 8px;
  margin-top: 20px;
  align-items: center;
}

@media screen and (max-width: 1279.98px) {
  .bottomSectionWrapper {
    margin-top: 14px;
    flex-direction: column;
    gap: 0;
  }
}

.bottomTextWrapper {
  display: flex;
  gap: 2px;
}

@media screen and (max-width: 1279.98px) {
  .bottomTextWrapper {
    margin-bottom: 14px;
    justify-content: center;
  }
}

.bottomText {
  font-weight: 500;
  font-size: 11px;
  color: var(--white);
  font-style: normal;
  line-height: 1.18em;
  white-space: nowrap;
}

.bottomTextOr {
  font-weight: 500;
  font-size: 11px;
  color: var(--white);
  font-style: normal;
  line-height: 1.18em;
}

@media screen and (max-width: 1279.98px) {
  .bottomTextOr {
    display: none;
  }
}

.bottomSectionText {
  display: none;
}

@media screen and (max-width: 1279.98px) {
  .bottomSectionText {
    display: block;
    color: var(--input-text);
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-bottom: 8px;
  }
}

.bottomLink {
  font-weight: 500;
  font-size: 11px;
  color: var(--play-btn-triangle);
  font-style: normal;
  line-height: 1.18;
}

.googleWrapper {
  width: 129px;
  height: 38px;
}

@media screen and (max-width: 1279.98px) {
  .googleWrapper {
    width: 100%;
    height: 30px;
  }
}
