.wrapper {
  width: fit-content;
  display: flex;
  padding: 10px 16px;
  align-items: center;
  border-radius: 6px;
  border: none;
  background: #313540;
  cursor: pointer;
  line-height: 1.1875em;
}

.wrapperImg {
  display: flex;
  flex-direction: row-reverse;
  padding: 4.5px 4px;
  align-items: center;
  gap: 6px;
  background: #313540;
  border-radius: 6px;
  cursor: pointer;
}

.textImg {
  width: 84px;
  color: #fff;
  text-wrap: balance;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* .iconImg {
  background: none;
  border-radius: 50%;
} */

.text {
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  margin-right: 12px;
  text-align: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 4px 6px;

  border-radius: 6px;
  background: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.icon > svg {
  width: 11px;
  transform: scale(1.15);
}

.active {
  background: var(--CRM-modal-GreenBtnNormal, #008000);
}

.inactive {
  background: var(--CRM-modal-InputBG, #2d3038);
}

.noBackground {
  background: transparent;
  box-shadow: none;
  margin-left: -10px;
  color: var(--light-grey);
}

.noBackground.inactive {
  color: var(--light-grey);
}

.noBackground.notificationSent {
  color: green;
}

.noBackground.notificationDelay {
  color: red;
}
