.toggleBox {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 4px;
}

.statusToggle {
  color: var(--light-gray);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: -4px;
}

.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 34px;
}

.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 25px;
  height: 11px;
  background-color: var(--light-gray-table);
  border-radius: 25px;
  transition: 0.4s;
  cursor: pointer;
}

.slider::before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: -8px;
  bottom: -3px;
  background-color: var(--white);
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--green);
}

input:checked + .slider::before {
  transform: translateX(25px);
}
