.headerWrapper {
  display: grid;
  grid-template-columns: 420px 60px 81px 110px 130px 230px 106px 112px 120px 85px 57px;
  margin-bottom: 20px;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  margin-right: 16px;
}

.header {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.headerWithArrows {
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

/* .arrowWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 16px;
}

.arrowIcon {
  cursor: pointer;
  transform: scale(1.5);
} */

.table {
  overflow: hidden;
  overflow-y: scroll;
  height: 596px;
  padding-right: 10px;
}

.table::-webkit-scrollbar {
  width: 8px;
  padding-top: 4px;
  height: 760px;
}

.table::-webkit-scrollbar-track {
  background: var(--bg-input);
  border-radius: 4px;
}

.table::-webkit-scrollbar-thumb {
  background-color: var(--main-gray);
  border-radius: 4px;
}

.hidden {
  display: none;
}

.legtHeaderWrapper {
  /* border: 3px solid blue; */
  width: 100%;
}
