.loginForm {
  background-color: #151616;
  display: flex;
  flex-direction: column;
  border-radius: 0;
  padding: 72px 72px;
  width: 448px;
}

@media screen and (max-width: 1279.98px) {
  .loginForm {
    width: 524px;
    padding: 20px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 767.98px) {
  .loginForm {
    width: 275px;
  }
}

.topSectionWrapper {
  display: flex;
  flex-direction: column;
}

.loginHeader {
  font-size: 32px;
  font-style: normal;
  margin-bottom: 12px;
  font-weight: 700;
  line-height: 1.1875em;
}

@media screen and (max-width: 767.98px) {
  .loginHeader {
    font-weight: 400;
  }
}

.loginText {
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  color: #8d8d8d;
  margin-bottom: 64px;
}

@media screen and (max-width: 1279.98px) {
  .loginText {
    margin-bottom: 14px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

@media screen and (max-width: 1279.98px) {
  .wrapper {
    gap: 14px;
  }
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.loginLabel {
  font-weight: 500;
  font-size: 14px;
  color: #e9e9e9;
  font-style: normal;
  line-height: normal;
}

@media screen and (max-width: 1279.98px) {
  .loginLabel {
    font-size: 11px;
  }
}

.inputWithIconWrapper {
  display: flex;
  position: relative;
  align-items: center;
}

.inputIcon {
  position: absolute;
  left: 16px;
  color: #615f68;
  fill: #615f68;
  width: 10px;
  height: 10px;
}

@media screen and (max-width: 1279.98px) {
  .inputIcon {
    left: 20px;
  }
}

.input {
  background-color: #242525;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.142em;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 36px;
  width: 100%;
}

@media screen and (max-width: 1279.98px) {
  .input {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
  }
}

.input::placeholder {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}

.errorMsg {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: red;
  position: absolute;
  top: 100%;
  left: 0;
}

.forgotPasswordLink {
  background-color: transparent;
  border: none;
  width: fit-content;
  text-align: start;
  cursor: pointer;
  color: #0096b7;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.18em;
  text-decoration-line: underline;
  margin-top: 14px;
  margin-bottom: 14px;
}

.eyeIconBtn {
  position: absolute;
  right: 12px;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}

@media screen and (max-width: 1279.98px) {
  .eyeIconBtn {
    right: 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .eyeIconBtn {
    right: 20px;
  }
}

.eyeIcon {
  color: #615f68;
  fill: #615f68;
  width: 10px;
  height: 10px;
}

.submitButton {
  background-color: #0096b7;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875em;
  color: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 18px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1279.98px) {
  .submitButton {
    padding-top: 8px;
    margin-bottom: 12px;
  }
}

.googleWrapper {
  height: 30px;
  margin-bottom: 70px;
}

@media screen and (max-width: 1279.98px) {
  .googleWrapper {
    width: 100%;
    margin-bottom: 14px;
  }
}

.bottomTextWrapper {
  display: flex;
  gap: 4px;
}

.linkToRegisterText {
  color: #e9e9e9;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.18em;
}

.bottomLink {
  font-weight: 500;
  font-size: 11px;
  color: #0096b7;
  font-style: normal;
  line-height: 1.18em;
  text-decoration: none;
}

.bottomText {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 18px;
  color: #8d8d8d;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.12em;
}