.chatsList {
  display: flex;
  flex-direction: column;
  gap: 4px;

  width: 378px;
  margin-top: 6px;
}

.chatsListItem {
  height: 93px;
  display: flex;
  /* justify-content: space-between; */
  gap: 16px;
}

.avatar {
  width: 40px;
  height: 40px;
  flex-shrink: 1;
}

.managersPhoto {
  width: 30px;
  height: 30px;
}

.channelIcon {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.channelIconTF {
  width: 16px;
  height: 16px;
}

.avatarBox {
  width: 40px;
  height: 42px;
  position: relative;
}

.managersPhotoBox {
  display: flex;
  gap: 11px;
  align-items: end;
}

.nameAndMessageBox {
  width: 223px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.timeContainer {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: end;
}

.name {
  color: var(--light-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.lastMessage {
  color: #828a9e;

  font-variant-numeric: lining-nums proportional-nums;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* font-variant: small-caps; */
}

.time {
  color: #828a9e;

  font-variant-numeric: lining-nums proportional-nums;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}
