.scroll {
  width: 400px;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 5px;
}

.scroll::-webkit-scrollbar {
  width: 6px;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: var(--bg-input);
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--main-gray);
}

.chatsList {
  display: flex;
  flex-direction: column;
  gap: 4px;

  width: 366px;
  margin-top: 6px;
}

.chatsListItem {
  height: 93px;
  display: flex;
  align-items: center;
  border-radius: 8px;

  padding-left: 10px;
  padding-right: 10px;
  /* padding-bottom: 20px;
  padding-top: 20px; */
  justify-content: space-between;
  cursor: pointer;

  position: relative;
}

.chatsListItem:hover {
  background-color: var(--bg-input);
}

/* .chatsListItem:hover input[type="checkbox"]:hover {
  background-color: transparent;
} */

@keyframes blinkBorder {
  0% {
    border: 1px solid var(--red);
  }
  50% {
    border: 1px solid transparent;
  }
  100% {
    border: 1px solid var(--red);
  }
}

.warningBorder {
  animation: blinkBorder 3s infinite;
}

.chosenChat {
  background-color: #2b3141;
}
.chosenChat:hover {
  background-color: #2b3141;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.managersPhoto {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.channelIcon {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.channelIconTF {
  width: 16px;
  height: 16px;
}

.avatarBox {
  width: 40px;
  height: 42px;
  position: relative;
}

.managersPhotoBox {
  display: flex;
  gap: 11px;
  align-items: end;
}

.timeContainer {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: end;
}

.nameAndMessageBox {
  width: 223px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name {
  color: var(--light-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lastMessage {
  color: #828a9e;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;

  width: 223px;
  height: 33px;
}

.freshMessage {
  color: var(--light-gray);
  font-weight: 600;
}

.time {
  color: #828a9e;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.commonBox {
  display: flex;
  align-items: end;
  gap: 10px;
}

.checkbox {
  display: none;
}

.cbIcon {
  display: none;
}

.cbMark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */

  border: 1px solid var(--white);
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  margin-right: 10px;
}

.cbMarkIsChecked {
  margin-right: 6px;
}

.checkbox:checked + .cbMark {
  border: 1px solid var(--blue);
  background-color: var(--blue);
}

.checkbox:checked + .cbMark > .cbIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  /* fill: var(--blue); */
  fill: var(--bg-secondary);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
}
