.logo {
    width: 140px;
    display: flex;
    align-items: center;
    gap: 1px;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-variant: small-caps;
}

