
.camera {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cameraList {
  width: 350px;
  position: relative;
}
.zoomIcon {
  z-index: 1;
  position: absolute;
  right: 10px;
  top: 10px;
}

.arrowNext:before,
.arrowPrev:before {
  content: "";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #fff;
}
.arrowNext,
.arrowPrev {
  z-index: 1;
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: 0;
  background: 0 0;
  position: absolute;
  display: block;
  padding: 0;
}
.arrowPrev {
  left: 10px;
}
.arrowNext {
  right: 10px;
}