.camera {
  position: relative;
  width: 100%;
  height: 231px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media only screen and (min-width: 1850px) {
  .camera {
    height: 341px;
    margin-bottom: 10px;
    /* height: 100% !important; Якщо поставити зараз то малі картинкі будуть летіти на верх а не по центру як зараз */
  }
}
.cameraListCont {
  border-radius: 5px;
  width: 386px;
  height: 270px;
  padding: 15px 20px 0 20px;
  background: #23252C;
}
@media only screen and (min-width: 1850px) {
  .cameraListCont {
    width: 576px;
    height: 405px;
    padding: 21px 21px 0 21px;
  }
}
.cameraList {
  position: relative;
}

.arrowNext:before,
.arrowPrev:before {
  content: "";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #fff;
}

.arrowNext,
.arrowPrev {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 30px;
  height: 30px;
  transform: translate(0, -100%);
  cursor: pointer;
  border: none;
  outline: 0;
  background: 0 0;
  position: absolute;
  display: block;
  padding: 2px;
  border-radius: 32px;
  background: rgba(81, 85, 98, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: background 200ms ease-in-out;
}
.arrowNext:hover,
.arrowPrev:hover {
  background: #515562;
}
.arrowPrev {
  left: 10px;
}

.arrowNext {
  right: 10px;
}

:global(.dots) {
  display: block;
  padding: 0;
  bottom: -25px;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
}

:global(.dots li) {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
@media only screen and (min-width: 1850px) {
  :global(.dots li) {
    margin: 0 8px;
  }
}
:global(.dots li button) {
  background: #4a4a4a;
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border-radius: 50%;
  outline: 0;
  border: none;
}
@media only screen and (min-width: 1850px) {
  :global(.dots li button) {
    width: 17px;
    height: 15px;
  }
}

:global(.dots li.slick-active button) {
  background: #3956cc;
}

:global(.dots li button),
:global(.arrowNext:before),
:global(.arrowPrev:before) {
  font-family: slick;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[data-rmiz-modal-overlay="visible"] {
  background-color: #101010ea !important;
}
.zoomImg {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: zoom-out;
}
