.wrapper {
  display: flex;
  /* justify-content: flex-end; */
  justify-content: space-around;
  gap: 8px;
  border-radius: 12px;
  width: 1351px;
}

.boxContainer {
  display: flex;
  border-radius: 6px;
  background-color: #313540;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.allStatus {
  background: linear-gradient(#313540, #313540) padding-box,
    var(--status-gradient-all) border-box;
  border: 2px solid transparent;
}

.newStatus {
  background: linear-gradient(#313540, #313540) padding-box,
    var(--border-gradient-new) border-box;
  border: 2px solid transparent;
}

.diagnosticStatus {
  background: linear-gradient(#313540, #313540) padding-box,
    var(--border-gradient-diag) border-box;
  border: 2px solid transparent;
}

.repairStatus {
  background: linear-gradient(#313540, #313540) padding-box,
    var(--border-gradient-repair) border-box;
  border: 2px solid transparent;
}

.viewRepairStatus {
  background: linear-gradient(#313540, #313540) padding-box,
    var(--status-gradient-view-repair) border-box;
  border: 2px solid transparent;
}

.completeStatus {
  background: linear-gradient(#313540, #313540) padding-box,
    var(--border-gradient-complete) border-box;
  border: 2px solid transparent;
}

.carImage {
  max-width: 36px;
  height: 36px;
  border-radius: 6px;
  background: none;
}

.listItem {
  display: flex;
  border-radius: 6px;
}

.hidden {
  display: none;
}

/* 
.carButton {
  width: 304px;
  display: flex;
  align-items: center;
  justify-content: center;
} */