.wrapper {
    display: flex;
    width: 1057px;
    height: 245px;
    /* border: 1px solid var(--light-gray); */
    border-radius: 12px;
    flex-direction: row;
    padding: 25px 20px;
    justify-content: space-around;
    background-color: var(--bg-secondary);
}