.dayCarsItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 365px;
      height: 100%;
      padding: 10px 18px;
    border-radius: 8px;
    border: 2px solid transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(#2D3038, #2D3038) padding-box, var(--border-gradient-diag) border-box;
  }

  .userInfo {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    max-width: 145px;
    height: 18px;
    padding-left: 8px;
    margin-bottom: 8px;
  
    border-radius: 6px;
    position: relative;
    transition: background-color 0.3s ease, border-left 0.3s ease;
  }
  
  .title::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: var(--glow-color);
    filter: blur(5px);
    z-index: 1;
    border-radius: 0 5px 5px 0;
  }
  
  @media only screen and (min-width: 1850px) {
    .title {
      width: 145px;
      height: 24px;
    }
  }
  
  .statusText {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43em;
    font-variant: small-caps;
    text-overflow: ellipsis;
    overflow: hidden;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  }
  
  .checkRepair {
    font-size: 14px;
    color: var(--status-diag);
  }
  
  .icon {
    width: 12px;
    height: 12px;
    transition: width 0.3s, height 0.3s;
    font-size: 16px;
  }

  .iconHuman {
    width: 16px;
    height: 16px;
  }

  .infoCard {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 11px;
  }
 
  .infoName,
  .infoTel,
  .infoCar {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  
  .vinContainer {
    display: flex;
    padding: 3px 10px;
    width: 185px;
    height: 30px;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: var(--main-gray);
    z-index: 2;
  }
  
  .vinCode {
    color: var(--white);
    font-size: 14px;
    line-height: 16px;
    max-width: 134px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .copyButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    padding: 4px;
    color:  var(--icon-gray);
    background: var(--main-gray);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);      border: none;
    cursor: pointer;
    margin-left: auto;    
  }  

  .plus{
    width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      border: none;
      background-color: var(--green);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      cursor: pointer;
}

.iconPlus {
  display: flex;
  width: 14px;
  height: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: var(--green);
  background-color: var(--white);
  stroke-width: 2px;
}
.clockContainer{
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background: var(--bg-input);
}

.iconClock{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  fill: var(--status-new);
}
.iconTrash{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  fill: var(--red);
}
  
  .textName {
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;

    display: block; 
    max-width: 150px; 
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis; 
  }

  .textTel {
    color: var(--text-gray);
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
  }

  .iconTel {
    width: 12px;
    height: 12px;
  }

  .nameCar {
    color: var(--white);
    font-size: 14px;
    max-width: 134px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 

  }
  
  .btnContainer {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: auto;
  
  }
  
  .carPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 87px;
    height: 61px;
    margin-bottom: 12px;
  }

  .carPhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  
  }
  
  .carsInfo {
    position: relative;
    display: flex;
    gap: 11px;
  }
  
  .modalCarsInfo{
    margin-left: -30px;
  }
  
  
  .carInfoLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: -36px;
    width: 80px;

  }

  .money {
     display: flex;
    margin-top: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }
  
  .KP{
    margin-top: auto;
  }
  
  .carInfoRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 96px;
  }

  .carRegContainer {
    display: flex;
    align-items: center;
    width: 96px;
    height: 23px;
    gap: 3px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: 2px solid var(--black);
    background: #D9D9D9;
  }
  
  .carRegFlag {
    width: 5.4px;
    height: 3.6px;
  }
  
  .carRegCountrys {
    padding: 4px 1.5px;
    height: 100%;
    border-radius: 4px 0px 0px 4px;
    background: #00349A;
  }
  
  .carRegCountry {
    color: var(--white);
    font-size: 4px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .carNumber {
    color: var(--bg-secondary);
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
  
  .carRegFlag {
    margin-bottom: 4px;
  }
  
  .mileInfo,
  .timeWork {
    display: flex;
    gap: 7px;
    align-items: center;
  }

  .timeWork {
    margin-top: 6px;
  }
  
  .mileage {
    align-items: center;
    color: var(--mint);
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
  }
  
  .time {
    color: var(--text-gray);
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
  }
  .total {
    color: var(--white);
    font-size: 16px;
    margin-top: 12px;    
    font-weight: 600;
    line-height: normal;
  }
  .totalPay {
    margin-top: auto;
  }
  
  .iconWrapper{
    position: relative;
  }
  
  .hidden {
    display: none;
  }
  
  