.appContainer {
  width: 1252px;
  /* height: 100vh; */
  height: 795px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-top: 4px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1850px) {
  .appContainer {
    width: 1850px;
      /* height: 100vh; */
      height: 1080px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 34px;
      padding-top: 15px;
  }
}