/* базові розміри для 1920px */
.appContainer {
  width: 1850px;
  height: 100vh;
  padding: 15px 40px 34px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: radial-gradient(
      228.5px at 50% 50%,
      rgba(81, 122, 184, 0.14) 0%,
      transparent 100%
    )
    no-repeat 69px -550px;
}

.appContainer::before,
.appContainer::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.appContainer::before {
  background: radial-gradient(
      480.5px at 50% 50%,
      rgba(184, 112, 81, 0.2) 0%,
      transparent 100%
    )
    no-repeat;
  opacity: 0.28;
  width: 961px;
  height: 929px;
  top: 483px;
  left: 54px;
}

.appContainer::after {
  background: radial-gradient(
      367.5px at 50% 50%,
      rgba(81, 141, 184, 0.5) 0%,
      transparent 100%
    )
    no-repeat;
  opacity: 0.14;
  width: 735px;
  height: 711px;
  top: 356px;
  right: 39px;
}

/* адаптація розмірів в діапазоні 1280px - 1920px */
@media only screen and (max-width: 1920px) and (min-width: 1280px) {
  .appContainer {
    width: calc(100% - 5vw);
    height: calc(100% - 5vh);
  }
}

/* мінімальний розмір  */
@media only screen and (min-width: 1280px) {
  .appContainer {
    min-width: 1252px;
  }
}
