.appContainer {
  max-width: 1850px;
  width: 100vw;
  height: 100vh;
  /* min-height: 900px; */
  /* max-height: 1080px; */
  padding: 1.388vh min(2.162vw, 40px) 3.148vh;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: radial-gradient(12.35vw at 50% 50%,
      rgba(81, 122, 184, 0.14) 0%,
      transparent 100%) no-repeat 3.73vw -50.93vh;
}

.appContainer::before,
.appContainer::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  /* filter: blur(200px); */
  z-index: -1;
}

.appContainer::before {
  background: radial-gradient(25.97vw at 50% 50%,
      rgba(184, 112, 81, 0.2) 0%,
      transparent 100%) no-repeat;
  /* background: rgba(184, 112, 81, 0.20); */
  opacity: 0.28;
  width: 51.95vw;
  height: 86.02vh;
  top: 44.72vh;
  left: 2.92vw;
}

.appContainer::after {
  background: radial-gradient(19.86vw at 50% 50%,
      rgba(81, 141, 184, 0.5) 0%,
      transparent 100%) no-repeat;
  /* background: rgba(81, 141, 184, 0.50); */
  opacity: 0.14;
  width: 39.73vw;
  height: 65.83vh;
  top: 32.96vh;
  right: 2.11vw;
}