.modalRepair {
  display: flex;
  flex-direction: column;
  width: 1395px;
  height: 900px;
  padding: 20px;
  background: var(--bg-secondary);
  border-radius: 12px;
}

.title {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.workInfo {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 23px;
  padding-right: 15px;
}

.date {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15em;
}

.links {
  display: flex;
  gap: 11px;
}

.link {
  color: var(--play-btn-triangle);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2em;
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
}

.mechanic {
  display: flex;
  gap: 10px;
}

.name,
.position {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1875em;
}

.position {
  font-weight: 400;
}

.bottomInfoContainer {
  height: 36px;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.leftContainer {
  display: flex;
  gap: 34px;
}

.titleBtn {
  color: var(--light-gray);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.priceBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 122px;
  padding: 10px 20px;
  background: var(--bg-input);
  border-radius: 12px;
  border: 1px solid var(--input-stroke);
  color: var(--light-gray);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875em;
}

.repairPrice,
.differencePay {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;

}

.differencePay .priceBox {
  color: var(--red);
}

.btnPayment,
.btnDone,
.btnCancel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  background: var(--green);
  border: none;
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  outline: none;
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnCancel {
  background: transparent;
  border: 1px solid var(--light-gray);
  margin-right: 10px;
  margin-left: 32px;
}

.iconClose {
  color: var(--input-stroke);
}

.closeButton {
  position: absolute;
  right: 8px;
  top: 11px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.iconContainer {
  display: flex;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--status-complete);
  margin-left: auto;
  margin-right: 8px;
  margin-top: 10px;
}

.iconPlus {
  color: var(--white); 
  stroke-width: 2px;
  padding-bottom: 1px;
  padding-right: 1px;
}