.loadStatsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 141px;
    height: 91px;
    border-radius: 5px;
    background: var(--bg);
    position: relative;
}

@media only screen and (min-width: 1850px) {
    .loadStatsContainer {
        width: 170px;
        height: 135px;
        padding: 6.5px 6px 6.5px 14px;
    }
}

.statsChart {
    position: absolute;
    top: -10px;
    left: -5px;
    width: 86px;
    height: 61px;
}

@media only screen and (min-width: 1850px) {
    .statsChart {
        top: 3px;
        left: 6px;
    }
}


.statsInfo {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.percentage {
    display: flex;
    align-items: flex-end;
}

@media only screen and (min-width: 1850px) {
    .percentage {
        margin-bottom: 2px;
    }
}

.description {
    color: #575759;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media only screen and (min-width: 1850px) {
    .description {
        font-size: 14px;
        width: fit-content;
    }
}

.num {
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    font-variant-numeric: lining-nums proportional-nums;

}

.symbol {
    color: #717075;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 2px;
}

.iconBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #246d4d;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin-bottom: 2px;
    margin-left: 2px;
}

.icon {
    color: #3CBC81;
    stroke-width: 1px;
    stroke-width: 2px;
    stroke: var(--white);
    font-size: 9px;
}