.crmBlockDayCarsItemContainer {
  width: 365px;
  height: auto;
  padding: 8px 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
  background: var(--bg-input);
  border: 2px solid transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: grab;
  transition: transform 0.2s ease, opacity 0.2s ease;
  position: relative;
}

.crmBlockDayCarsItemContainer.dragging {
  opacity: 0.1;
  cursor: grabbing;
}

.crmBlockDayCarsItemContainer.cursorComplete{
  cursor: default;
}

.cloneDragging {
  opacity: 1;
  /* box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.6); */
  /* border: 2px solid rgba(255, 255, 255, 0.8); */
  box-shadow: 11px 21px 14px 0px rgba(0, 0, 0, 0.25);
  cursor: grabbing;
  transform: scale(1.05);
  background-color: var(--bg-input);
  z-index: 1000;
  transition: transform 0.5s ease-out;
}

.userInfo {
  display: flex;
  flex-direction: column;
  min-width: 185px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  width: 137px;
  height: 24px;
  padding-left: 8px;
  margin-bottom: 8px;

  border-radius: 6px;
  position: relative;
  transition: background-color 0.3s ease, border-left 0.3s ease;
}

.title::before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: var(--glow-color);
  filter: blur(5px);
  z-index: 1;
  border-radius: 0 5px 5px 0;
}

.statusText {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43em;
  font-variant: small-caps;
  text-overflow: ellipsis;
  overflow: hidden;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon {
  width: 12px;
  height: 12px;
  transition: width 0.3s, height 0.3s;
  font-size: 16px;
}

.iconHuman {
  width: 16px;
  height: 16px;
}

.infoCard {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 11px;
}

.infoName,
.infoTel,
.infoCar {
  display: flex;
  gap: 8px;
  align-items: center;
}

.vinContainer {
  display: flex;
  padding: 3px 10px;
  width: 185px;
  height: 27px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  margin-bottom: 12px;
  background: var(--main-gray);
}

.vinCode {
  color: var(--white);
  font-size: 14px;

  max-width: 134px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.copyButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  border-radius: 6px;
  color: var(--icon-gray);
  background: var(--main-gray);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
}

.textName {
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.textTel {
  color: var(--text-gray);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.iconTel {
  width: 12px;
  height: 12px;
}

.nameCar {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 134px;
}

.btnContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: auto;
}

.carPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  height: 61px;
  margin-bottom: 12px;
}

.carPhoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.carInfoLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 78px;
}

.money {
  display: flex;
  color: var(--green);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.carInfoRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 96px;
}

.carRegContainer {
  display: flex;
  align-items: center;
  width: 96px;
  height: 23px;
  gap: 3px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 2px solid var(--black);
  background: #d9d9d9;
}

.carRegFlag {
  width: 5.4px;
  height: 3.6px;
}

.carRegCountrys {
  padding: 4px 1.5px;
  height: 100%;
  border-radius: 4px 0px 0px 4px;
  background: #00349a;
}

.carRegCountry {
  color: var(--white);
  font-size: 4px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

.carNumber {
  color: var(--bg-secondary);
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.carRegFlag {
  margin-bottom: 4px;
}

.mileInfo,
.timeWork {
  display: flex;
  align-items: center;
}
.mileInfo {
  margin-bottom: 6px;
  gap: 7px;
}

.timeWork {
  margin-bottom: 12px;
  margin-top: 1px;
  gap: 5px;
  width: 101px;
}

.mileage {
  align-items: center;
  color: var(--mint);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.time {
  color: var(--text-gray);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.total {
  margin-top: auto;
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.iconWrapper {
  position: relative;
}

.crmcarsInfo {
  position: relative;
  display: flex;
  gap: 11px;
  margin-left: -35px;
}

.plus {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: none;
  background-color: var(--green);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.iconPlus {
  display: flex;
  width: 14px;
  height: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: var(--green);
  background-color: var(--white);
  stroke-width: 2px;
}

.plus:hover {
  background: var(--green-btn-hover);
}

.btnSave {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--icon-gray);

  border-radius: 3px;
  background: var(--CRM-modal-InputBG, #2d3038);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  padding: 4px;
}

.btnCopy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.copyIcon {
  height: 13px;
  width: 13px;
  fill: var(--white);
  cursor: pointer;
}

.hidden {
  display: none;
}

.prevCoast {
  margin-top: auto;
}

.totalPay {
  margin-top: auto;
}

.clockContainer{
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background: var(--bg-input);
}

.iconClock{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  fill: var(--status-new);
}