.tariffContainer{
    width: 975px;
    padding: 32px 28px 10px 28px;

}


.title{
    color: var(--Color, #FFF);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-bottom: 21px;
}


.tariffBox{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.list{
display: flex;
flex-direction: column;
justify-content: center;
}

.nameListItem{
    display: flex;
        width: 220px;
        height: 60px;
        padding: 10px 20px;
        align-items: center;
        gap: 10px;
}

.nameListItem:nth-child(odd){
background-color: var(--Calendar-fill, #302F2F);
}

.listItem{
display: flex;
    width: 220px;
    height: 60px;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
justify-content: center;
}

.listItem:nth-child(odd){
background-color: var(--Calendar-fill, #302F2F);
}

.tariffCategory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    border: 2px solid transparent;
}

.tariffCategoryIsActive{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        border-radius: 6px;
        border: 2px solid var(--Blue, #3956CC);
}

.tariffName{
    color: var(--Color, #FFF);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        height: 60px;
        display: flex;
        align-items: center;
}

.tariffNameCat{
        color: transparent;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    
        height: 60px;
        display: flex;
        align-items: center;
    
}

.period{
    padding: 12px 16px;

    border-radius: 6px;
    border: 1px solid var(--Button-grey, #4A4A4A);

    margin-top: 10px;

    color: var(--White, var(--Color, #FFF));
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-variant: small-caps;
}

.price{
    color: var(--White, var(--Color, #FFF));
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-variant: small-caps;

        margin-top: 29px;
}

.iconTick{
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    fill: #008000;
}

.iconCross{
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    fill: #D54E4F;
}

.btnBuy{
    display: none;
}

.btnBuyIsActive{
    padding: 11px 60px;

    border: none;
    border-radius: 6px;
    background: var(--Blue, #3956CC);

    color: var(--White, var(--Color, #FFF));
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-variant: small-caps;

        margin-top: 19px;
        margin-bottom: 30px;
}