.tariffContainer {
    width: 975px;
    padding: 32px 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

@media only screen and (min-width: 1850px) {
    .tariffContainer {
        width: 1056px;
        padding: 40px 70px 45px 70px;
    }
}


.title {
    color: var(--white);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    /* margin-bottom: 21px; */
}


.tariffBox {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nameListItem{
    display: flex;
        width: 220px;
        height: 60px;
        padding: 10px 20px;
        align-items: center;
        gap: 10px;
        justify-content: flex-start;
}

.nameListItem:nth-child(odd) {
    background-color: var(--bg-input);
}

.listItem {
    display: flex;
    width: 220px;
    height: 60px;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
}

.listItem:nth-child(odd) {
    background-color: var(--bg-input);
}

.listItem {
    display: flex;
    width: 220px;
    height: 60px;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

/* .listItem:nth-child(odd) {
    background-color: var(--Calendar-fill, #302F2F);
} */

.tariffCategory {
    height: 680px;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    border-radius: 6px;
    border: 2px solid transparent;
    border-bottom: none;
}

.tariffCategoryIsActive {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    border-radius: 6px;
    border: 2px solid var(--blue);
}

.tariffName {
    color: var(--white);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    height: 60px;
    display: flex;
    align-items: center;
}

.tariffNameCat {
    color: transparent;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    height: 60px;
    display: flex;
    align-items: center;

}

.period {
    padding: 12px 16px;

    border-radius: 6px;
    border: 1px solid var(--input-stroke);

    background-color: var(--bg-secondary);

    /* margin-top: 10px; */

    color: var(--white);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;

    appearance: none;
    outline: none;
}

.periodTrial {
    margin-bottom: 70px;
    margin-top: 10px;
}

.periodSelect {
    padding: 12px 16px 12px 36px;
    cursor: pointer;

}

.price {
    color: var(--white);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-variant: small-caps;

    margin-top: 28.5px;
    margin-bottom: 18.5px;
}

.iconTick {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    fill: var(--green);
}

.iconCross {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    fill: var(--red);
}


.btnBuyIsActive {
    padding: 11px 60px;

    border: none;
    border-radius: 6px;
    background: var(--blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    color: var(--white);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-variant: small-caps;

    /* margin-top: 19px; */
    margin-bottom: 30px;
    cursor: pointer;
}

.btnBuyIsActive:hover {
    background-color: var(--blue-btn-hover);
}

.btnBuyIsActive:active {
    background-color: var(--blue-btn-inactive);
}

.selectBox {
    position: relative;
    margin-top: 10px;
}

.arrowSelect {
    position: absolute;
    left: 16px;
    top: 15px;
    /* transform: translateY(-50%); */
    /* fill: white; */
    width: 12px;
    height: 12px;
    fill: var(--icon-gray);
    pointer-events: none;
}

.rotated {
    transform: rotate(180deg);
}

.btnBox {
    display: flex;
    justify-content: flex-end;
}

.btnCancel {
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    border: 1px solid var(--input-stroke);
    background-color: transparent;

    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: auto;

    cursor: pointer;
}