.sideBarBox{
    width: 165px;
    height: inherit;
    border-right: solid 1px #000;
}

.titleBox{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #000;
    /* border-right: solid 1px #000; */
}

.title{
    color: #FFF;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sideBarNav{
    margin-top: 34px;
    
}

.sideBarNavItem{
    height: 38px;
    display: flex;
    align-items: center;
    /* padding-left: 24px; */

    
}
/* 
.sideBarNavList{
    display: flex;
justify-content: center;
flex-direction: column;
} */

.sideBarNavItemLink{
    color: #FFF;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-decoration: none;
    padding-left: 24px;
}

.linkIsActive{
    color: #FFF;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-decoration: none; 

    padding-left: 24px;
    width: 165px;
    height: 38px;

    display: flex;
    align-items: center;

    background-color: #302F2F;
    border-right: solid 1px #004A9E;
}