.wrapper {
  z-index: 1000;
  /* width: 392px; */
  border-radius: 8px;
  background: var(--bg-secondary);
  box-shadow: -6px 7px 10px 6px rgba(0, 0, 0, 0.25);
}

.rightSectionTags {
  position: fixed;
  inset: 16px 0 auto auto;
  padding: 18px 41px;
}

.leftSectionTags {
  position: absolute;
  top: 34px;
  right: 0px;
  padding: 18px 23px;
}

.headerWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  justify-content: space-between;
}

.header {
  color: var(--light-gray);
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 130px;
}

.closeIcon {
  width: 16px;
  height: 16px;
  fill: var(--light-gray);
}

.closeIcon:hover {
  cursor: pointer;
}

.input {
  border-radius: 8px;
  background-color: var(--bg-input);
  height: 40px;
  width: 100%;
  padding: 7px 30px;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 13px;
  font-style: normal;
  line-height: 1.18em;
  color: var(--white);
  margin-bottom: 18px;
}

.input:-webkit-autofill {
  background-color: var(--bg-input) !important;
  color: var(--white) !important;
  box-shadow: 0 0 0px 1000px var(--bg-input) inset !important;
  -webkit-text-fill-color: var(--white) !important;
}

.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  background-color: var(--bg-input) !important;
  color: var(--white) !important;
  box-shadow: 0 0 0px 1000px var(--bg-input) inset !important;
  -webkit-text-fill-color: var(--white) !important;
}

.input::placeholder {
  color: #828a9e;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.text {
  color: var(--light-gray);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 6px;
}

.tagsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 385px;
  overflow-y: auto;
  padding-right: 7px;
}

.tagsWrapper::-webkit-scrollbar {
  width: 8px;
  padding-top: 4px;
  height: 100%;
}

.tagsWrapper::-webkit-scrollbar-track {
  background-color: var(--bg);
  border-radius: 4px;
}

.tagsWrapper::-webkit-scrollbar-thumb {
  background-color: var(--main-gray);
  border-radius: 4px;
}

.labelWrapper {
  display: flex;
  align-items: center;
  gap: 13px;
}

.checkbox {
  display: none;
  cursor: none;
}

.icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 13px;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.tagName {
  width: 256px;
  height: 40px;
  padding: 7px 30px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.submitBtn {
  height: 40px;
  width: 100%;
  padding: 7px 30px;
  background-color: var(--bg-input);
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  color: var(--light-gray);
}

.darkGreen {
  background-color: var(--dark-green-bg);
  color: var(--dark-green-text);
}

.midGreen {
  background-color: var(--mid-green-bg);
  color: var(--mid-green-text);
}

.lightGreen {
  background-color: var(--light-green-bg);
  color: var(--light-green-text);
}

.darkBlue {
  background-color: var(--dark-blue-bg);
  color: var(--dark-blue-text);
}

.midBlue {
  background-color: var(--mid-blue-bg);
  color: var(--mid-blue-text);
}

.lightBlue {
  background-color: var(--light-blue-bg);
  color: var(--light-blue-text);
}

.darkYellow {
  background-color: var(--dark-yellow-bg);
  color: var(--dark-yellow-text);
}

.midYellow {
  background-color: var(--mid-yellow-bg);
  color: var(--mid-yellow-text);
}

.lightYellow {
  background-color: var(--light-yellow-bg);
  color: var(--light-yellow-text);
}

.darkAqua {
  background-color: var(--dark-aqua-bg);
  color: var(--dark-aqua-text);
}

.midAqua {
  background-color: var(--mid-aqua-bg);
  color: var(--mid-aqua-text);
}

.lightAqua {
  background-color: var(--light-aqua-bg);
  color: var(--light-aqua-text);
}

.darkOrange {
  background-color: var(--dark-orange-bg);
  color: var(--dark-orange-text);
}

.midOrange {
  background-color: var(--mid-orange-bg);
  color: var(--mid-orange-text);
}

.lightOrange {
  background-color: var(--light-orange-bg);
  color: var(--light-orange-text);
}

.darkKhaki {
  background-color: var(--dark-khaki-bg);
  color: var(--dark-khaki-text);
}

.midKhaki {
  background-color: var(--mid-khaki-bg);
  color: var(--mid-khaki-text);
}

.lightKhaki {
  background-color: var(--light-khaki-bg);
  color: var(--light-khaki-text);
}

.darkRed {
  background-color: var(--dark-red-bg);
  color: var(--dark-red-text);
}

.midRed {
  background-color: var(--mid-red-bg);
  color: var(--mid-red-text);
}

.lightRed {
  background-color: var(--light-red-bg);
  color: var(--light-red-text);
}

.darkPink {
  background-color: var(--dark-pink-bg);
  color: var(--dark-pink-text);
}

.midPink {
  background-color: var(--mid-pink-bg);
  color: var(--mid-pink-text);
}

.lightPink {
  background-color: var(--light-pink-bg);
  color: var(--light-pink-text);
}

.darkViolet {
  background-color: var(--dark-violet-bg);
  color: var(--dark-violet-text);
}

.midViolet {
  background-color: var(--mid-violet-bg);
  color: var(--mid-violet-text);
}

.lightViolet {
  background-color: var(--light-violet-bg);
  color: var(--light-violet-text);
}

.darkGrey {
  background-color: var(--dark-grey-bg);
  color: var(--dark-grey-text);
}

.midGrey {
  background-color: var(--mid-gray-bg);
  color: var(--mid-gray-text);
}

.lightGrey {
  background-color: var(--light-gray-bg);
  color: var(--light-gray-text);
}