.navItem {
    display: flex;
    align-items: center; 
    margin-bottom: 6px;
    gap: 7px;

    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navLink {
    display: flex;
    align-items: center;
    text-decoration: none; 
    color: inherit;
    gap: 7px;
    transition: color 0.3s, background-color 0.3s;
}

.iconContainer {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    background-color: #202020;
    border-radius: 50%;
}

.videoIcon, .iconCrm, .iconAvto, .iconSettinds {
    transition: color 0.3s;
    color: white;
}
.videoIcon{
    width: 14px;
    height: 17px;
}
.iconCrm{
    width: 16px;
    height: 15px;
    fill:  white;
}
.iconAvto{
    width: 12px;
    height: 12px;
}
.iconSettinds{
    width: 12px;
    height: 12px;
}



.navLink.active .iconContainer {
    background-color: white;
}

.navLink.active .videoIcon, 
.navLink.active .iconCrm, 
.navLink.active .iconAvto, 
.navLink.active .iconSettinds {
    color: black;
}

