.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mainContent {
    display: flex;
    gap: 35px;
}

.rightSide {
    display: flex;
    flex-direction: column;
    gap: 44px;
}