.icon {
    fill: var(--bg);
    width: 338px;
    height: 579px;
}

/* .svg{
    position: relative;
} */

.supportBox {
    width: 338px;
    height: 579px;
    position: relative;
}

.contentBox {
    width: 333px;
    height: 395px;
    padding-top: 80px;
    padding-bottom: 32px;
    padding-left: 34px;
    padding-right: 34px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    /* border: solid 1px wheat; */
    border-radius: 5px;

    position: absolute;
    bottom: 5px;
    left: 0;
}

.closeBtn {
    fill: var(--input-stroke);
    width: 18px;
    height: 18px;
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
    /* transform: rotate(-45deg); */

}

.title {
    color: var(--white);

    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* font-variant: small-caps; */
}

.textarea {
    width: 270px;
    height: 176px;
    border-radius: 5px;
    padding: 18px 15px;

    background-color: #333;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24) inset;

    outline: none;
    border: none;
    resize: none;

    color: white;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    /* font-variant: small-caps; */

}

.textarea::placeholder {
    color: var(--input-stroke);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* Дизайн скроллу */
.textarea::-webkit-scrollbar {
    width: 8px;
}

.textarea::-webkit-scrollbar-track {
    background-color: var(--bg-secondary);
    border-radius: 4px;
}

.textarea::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--input-stroke);
    cursor: pointer;
}



.supportBtn {
    width: 150px;
    height: 30px;
    padding: 7px 42px;

    border-radius: 5px;
    background-color: var(--blue);

    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--white);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
}