/* .rating {
  display: flex;
  position: absolute;
  top: 64px;
  right: -10px;
  width: 78px;
  height: 11px;
} */

.rating {
  display: flex;
  align-items: center;
  /* height: 100%; */
}

.fullStar svg,
.emptyStar svg {
  width: 14.5px;
  height: 14.5px;
  transform: scale(1.1);
}

.fullStar svg {
  color: var(--star-orange);
}

.emptyStar svg {
  color: var(--star-white);
}

.halfStar {
  display: inline-block;
  position: relative;
}

.halfFilled {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.halfFilled svg {
  width: 14.5px;
  height: 14.5px;
  transform: scale(1.1);
  color: var(--star-orange);
}

.halfEmpty {
  width: 14.5px;
  height: 14.5px;
  transform: scale(1.1);
  color: var(--star-white);
}