.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: transparent;
  max-height: 560px;
  overflow-y: auto;
  padding-right: 25px;
}

.wrapper::-webkit-scrollbar {
  width: 8px;
  max-height: 538px;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: var(--main-gray);
  border-radius: 4px;
  height: 8px;
}

.wrapper::-webkit-scrollbar-track {
  background-color: var(--bg);
  border-radius: 4px;
}
