.sideBarNavItem {
    display: flex;
    align-items: center;
    flex-direction: row;
}


.sideBarNavItemLink {
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    text-decoration: none;
    padding: 10px 30px;

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 11px;

    height: 50px;
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.linkIsActive {
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    text-decoration: none;

    padding: 10px 30px;
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;

    background-color: #302F2F;
    border: none;
    border-right: solid 2px var(--blue);

}


/* Mobile Menu */

.mobileMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 850px;

    background-color: #1C1D20;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 6;
    /* transform: translateX(100%); */
    /* transition: transform 400ms ease-in; */
}

/* @media only screen and (min-width: 768px) {
    .mobileMenu {
        display: none;
    }
} */

.closeBtn {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;

    width: 14px;
    height: 14px;
    stroke: var(--input-stroke);
}