.custom-select__Svg{
    display:none !important;
}

.custom-select__control{
width: 420px !important;
height: 56px !important;

padding: 18px 20px;
background-color: var(--bg-input) !important;
border-radius: 10px !important;
border: 1px solid var(--input-stroke) !important;
margin-top: 8px !important;
color: var(--input-text);
/* cursor: pointer; */
}

.css-19bb58m{
    padding: 0 !important;
    margin: 0 !important ;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.css-1wy0on6{
    display: none !important;
}

.custom-select__control{
width: 420px !important;
    height: 56px !important;

    padding: 18px 20px;
    background-color: var(--bg-input) !important;
    border-radius: 10px !important;
    border: 1px solid var(--input-stroke) !important;
    margin-top: 8px;
    box-shadow: none !important;
    cursor: pointer !important;
}

.custom-select__control:hover{
   outline: none !important;
box-shadow: none !important;
}

.custom-select__menu{
    background-color: var(--bg-input) !important;
    border-radius: 12px !important;
    /* padding-top: 5px;
    padding-bottom: 5px; */
}

.custom-select__menu-list {
    max-height: 200px !important;
    overflow-y: auto !important;
    border-radius: 12px !important;
}

.custom-select__menu-list::-webkit-scrollbar {
    width: 8px !important;
    overflow: hidden;

}

.custom-select__menu-list::-webkit-scrollbar-thumb {
    background-color: var(--main-gray) !important;
    border-radius: 4px !important;
}

.custom-select__menu-list::-webkit-scrollbar-track {
    background: var(--bg-secondary) !important;
    border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

/* .custom-select__menu-list::-webkit-scrollbar{
  width: 8px;  
}

.custom-select__menu-list::-webkit-scrollbar-thumb{
    
    background-crder-radius: 12px !important; */
/* border-olor: var(--bg);
} */

/* .custom-select__menu {
    background-color: black;
} */

.custom-select__single-value{
   margin: 0 !important;
width: 350px !important;
}

.custom-select__value-container{
    padding: 0 !important;
width: 350px !important;
}

.custom-select__input-container{
  color:  var(--input-text);
  margin: 0 !important;
  padding: 0 !important;
}