.invoicesList {
  display: flex;
  flex-direction: column;
  gap: 9px;

  margin-top: 14px;

  overflow-y: auto;
  overflow-x: hidden;
  height: inherit;
  max-height: 728px;

  user-select: none;

  /* width: 240px; */

  /* padding-right: 6px; */
}

.invoicesListScroll {
  width: 240px;
}

.invoicesList::-webkit-scrollbar {
  width: 8px;
}

.invoicesList::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: var(--bg-input);
}

.invoicesList::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--main-gray);
}

.invoiceItem {
  display: flex;
  gap: 9px;

  /* width: 226px; */
  height: fit-content;
  padding: 12px;

  border-radius: 12px;
  background: var(--bg-input);
  cursor: pointer;
}

.invoiceItemForScroll {
  width: 226px;
  justify-content: flex-start;
}

.carImage {
  width: 75px;
  height: 67px;
  border-radius: 6px;
}

/* .carImageNull {
  display: none;
} */

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.infoWithoutPhoto {
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}

.invoiceText {
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Car plate */
.carRegContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 118px;
  height: 25px;
  border-radius: 6px;
  background-color: #d9d9d9;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.carRegCountry {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;

  width: 11px;
  height: 100%;

  background-color: #00349a;
  border-radius: 6px 0 0 6px;
}

.carRegFlag {
  width: 8px;
  height: 6px;

  margin-top: 8px;
}

.carRegNumber {
  color: var(--black);

  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;

  text-transform: uppercase;
}

.carRegCountry {
  color: var(--white);

  font-family: "Roboto", sans-serif;
  font-size: 6px;
  font-weight: 600;

  text-transform: uppercase;
}

.narrowType {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.first {
  order: 1;
}

.higherAmount {
  color: var(--green);
}

.lowerAmount {
  color: var(--red);
}

.moneyBox {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: end;
}

.completedBorder {
  background: linear-gradient(#2d3038, #2d3038) padding-box,
    var(--border-gradient-invoices) border-box;
  border: 2px solid transparent;
}

.pendingBorder {
  background: linear-gradient(#2d3038, #2d3038) padding-box,
    var(--border-gradient-new) border-box;
  border: 2px solid transparent;
}

.rejectedBorder {
  background: linear-gradient(#2d3038, #2d3038) padding-box,
    var(--border-gradient-invoices-red) border-box;
  border: 2px solid transparent;
}
