.pageContent {
  width: 740px;
  height: 600px;
  overflow: hidden;
  background-color: #101010;
  border-radius: 5px;
  padding: 16px 16px 0 16px;
}
@media only screen and (min-width: 1920px) {
  .pageContent {
    width: 1106px;
    height: 900px;
    padding: 24px 23px 0 23px;
  }
}
.pagegrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}
