.btnContainer {
    display: inline-flex;
    justify-content: center;
  }
  
  .btn {
    /* width: 100%;  */
    width: 58px;
    height: 24px;
    border-radius: 6px;
    background-color: #3956CC;
    padding: 5px 10px;


    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  /* @media only screen and (min-width: 1920px) {
    .btn {
      
  }
  } */
  
  
  .btn:focus {
    outline: none;
  }
  