.registrationPage {
  display: flex;
  overflow: hidden;
  width: 375px;
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (min-width: 768px) {
  .registrationPage {
    width: 767px;
    padding-left: 121px;
    padding-right: 121px;
  }
}

@media screen and (min-width: 1280px) {
  .registrationPage {
    border-radius: 60px;
    width: 940px;
    height: 670px;
  }
}
