.sectionWrapper {
  display: flex;
  flex-direction: column;
  height: 921px;
  gap: 10px;
  justify-content: space-between;
}
.wrapper {
  /* display: flex; */
  /* flex-direction: column; */
  overflow-y: auto;
  overflow-x: hidden;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 14px;
}

.leftContainerScrolled {
  width: 497px;
}

.wrapper::-webkit-scrollbar {
  width: 8px;
  padding-top: 4px;
  height: auto;
}

.wrapper::-webkit-scrollbar-track {
  background-color: var(--bg);
  border-radius: 4px;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: var(--main-gray);
  border-radius: 4px;
}

.addBtn {
  /* position: absolute;
  top: 989px; */
  display: inline-flex;
  width: 518px;
  padding: 12px 125px;
  justify-content: center;
  align-items: center;
  gap: 6px;

  background-color: var(--blue-btn-normal);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: transparent;
  cursor: pointer;
}

.icon {
  fill: var(--icon-gray);
}

.serviceStationWrapper {
  position: relative;
}
