.wrapper {
  position: relative;
  display: flex;

  gap: 5px;
}

.wrapper input {
  display: flex;
  width: 258px;
  height: 27px;
  padding: 7px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: var(--bg-input);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  outline: none;
  border: none;
  color: var(--light-gray);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.icon {
  position: absolute;
  z-index: 999;
  top: 2px;
  left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-gray);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.icon > svg {
  margin-bottom: 2px;
  margin-right: 2px;
}

.wrapper button {
  position: absolute;
  top: -2px;
  right: 5px;
  height: 23px;
  display: inline-flex;
  align-items: flex-end;
  border: none;
  background: transparent;
  color: var(--white);

  border: none;

  cursor: pointer;
}
