.recordBtnInfoWrapper {
  width: 100%;
}

.infoBtnWrapper {
  display: flex;
  gap: 23px;
}

.infoBtn {
  color: var(--white);
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 600;
  text-decoration-line: underline;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}

.nonActiveBtn {
  color: var(--input-text);
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.clientMsg,
.wrapperOfComent {
  text-wrap: balance;
  font-size: 16px;
  padding: 10px;
  border-radius: 0px 12px 12px 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.clientMsg {
  background: var(--player-secondary-bg);
}

.wrapperOfComent {
  background: var(--blue-btn-normal);
}
:global(.MuiTableContainer-root) {
  border-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  background-color: var(--bg-input) !important;
  border: 1px solid var(--light-gray-table) !important;
}
:global(.MuiTableHead-root > .MuiTableRow-root) {
  background: var(--main-gray) !important;
}
:global(
    .MuiTableHead-root > .MuiTableRow-root > .MuiTableCell-root:first-child
  ) {
  padding: 6px 0 6px 10px !important;
  text-align: left !important;
}
:global(.MuiTableCell-root) {
  color: var(--white) !important;
  outline: var(--light-gray-table) !important;
  border: 1px solid var(--light-gray-table) !important;
  padding: 6px 0 6px 0 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  text-align: center !important;
}
