.recordBtnInfoWrapper {
  width: 100%;
}

.infoBtnWrapper {
  display: flex;
  gap: 23px;
}

.infoBtn {
  color: var(--white);
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 600;
  text-decoration-line: underline;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}
.infoBtn:disabled,
.nonActiveBtn {
  color: var(--input-text);
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.clientMsg,
.wrapperOfComent {
  text-wrap: balance;
  font-size: 16px;
  padding: 10px;
  border-radius: 0px 12px 12px 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.clientMsg {
  background: var(--player-secondary-bg);
}

.wrapperOfComent {
  background: var(--blue-btn-normal);
}
:global(.MuiTableContainer-root) {
  border-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  background-color: var(--bg-input) !important;
  border: 1px solid var(--light-gray-table) !important;
}
:global(.MuiTableHead-root > .MuiTableRow-root) {
  background: var(--main-gray) !important;
}
:global(
    .MuiTableHead-root > .MuiTableRow-root > .MuiTableCell-root:first-child
  ) {
  padding: 6px 6px 6px 10px !important;
  text-align: left !important;
}
:global(.MuiTableCell-root) {
  color: var(--white) !important;
  outline: var(--light-gray-table) !important;
  border: 1px solid var(--light-gray-table) !important;
  padding: 6px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  text-align: center !important;
}
.repairTableHeaderCell {
  text-align: left !important;
}
.repairTableRow {
  height: 100% !important;
}
.repairTableRow > :global(.MuiTableCell-root) {
  text-align: left !important;
}
.repairTableCell {
  height: 35px !important;
  padding: 0px !important;
  text-align: left !important;
}

.repairTableCell > :global(.MuiCheckbox-root) {
  /* height: 100% !important; */
  color: var(--green-btn-normal);
  border-radius: 0px;
  border-right: 1px solid var(--light-gray-table);
  width: 25px !important;
  padding: 0px !important;
  margin-right: 10px;
  background-color: none;
  transition: background-color 200ms ease-in-out;
}
.repairTableCell > :global(.MuiCheckbox-root):hover {
  background-color: hsla(120, 100%, 25%, 0.2);
}
:global(.Mui-checked) {
  color: var(--green-btn-normal) !important;
}
.repairTableText {
  text-wrap: balance;
}
