.icon_google {
  width: 22px;
  height: 22px;
}

.google_btn {
  border: 1px solid var(--bg-input);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--input-text);
  font-size: 11px;
  font-weight: 500;
  line-height: 1.18em;
  cursor: pointer;
  background-color: transparent;
  transition: border 250ms ease-in-out, color 250ms ease-in-out;
}

@media screen and (max-width: 1279.98px) {
  .google_btn {
    font-size: 8px;
  }
}

.google_btn:hover {
  border: 1px solid var(--white)fff;
  color: var(--white)fff;
}