.notificationBox {
  min-width: 388px;
  padding: 18px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  border-radius: 12px;
  background: var(--bg-secondary);
}

.notifForm {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.dateAndTimeBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 6px;

  position: relative;
}

.crossBtn {
  position: absolute;
  right: 20px;
  top: 20px;
  fill: var(--input-stroke);
  cursor: pointer;
}

.title {
  color: var(--white);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* .connectionSelect{
    width: 100%;
    display: flex;
    padding: 10px 10px 10px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    border-radius: 12px;
    background-color: var(--bg-input);
    outline: none;
    border: none;

    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    appearance: none;
} */

.input {
  display: flex;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  align-self: stretch;

  border-radius: 12px;
  background-color: var(--bg-input);
}

/* .inputDate{
    width: 144px;
}

.inputTime{
    width: 100px;
} */

.date {
  /* display: flex;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    border-radius: 12px; */
  background-color: var(--bg-input);

  outline: none;
  border: none;

  color: var(--white);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: default;
}

.dateDate {
  width: 90px;
}

.dateTime {
  width: 60px;
}

.date::-webkit-calendar-picker-indicator {
  display: none;
}

.dateBtn {
  border-radius: 46px;
  background: var(--bg-input);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;

  display: flex;
  padding: 6px;
  align-items: center;
  cursor: pointer;
  /* gap: 10px; */
}

.iconBtn {
  fill: var(--light-gray);
}

.textarea {
  height: 80px;
  border-radius: 12px;
  background-color: var(--bg-input);
  outline: none;
  border: none;
  resize: none;
  padding: 12px;

  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.closeBtn {
  border-radius: 6px;
  border: 1px solid var(--input-stroke);
  background-color: transparent;
  padding: 10px;

  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.createBtn {
  border-radius: 6px;
  background-color: var(--green-btn-normal);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;

  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;

  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.createBtn:hover {
  background-color: var(--green-btn-hover);
}

.btnBox {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.selectBox {
  position: relative;
}

.arrowIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--icon-gray);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.label {
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.errorMessage {
  color: var(--red);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* margin-left: 20px; */

  cursor: default;
  position: absolute;
  left: 20px;
  top: 100%;
}

.phoneIcon {
  fill: var(--green-btn-normal);
}

.envelopeIcon {
  fill: var(--blue);
}

.tgIcon {
  fill: var(--icon-gray);
}

.speedBox {
  display: flex;
  gap: 10px;
  height: 38px;
  width: fit-content;
  padding: 10px 14px;
  align-items: center;

  border-radius: 24px;
  background-color: rgba(67, 164, 141, 0.08);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.speedIcon {
  fill: var(--current-mileage-text);
  width: 13px;
  height: 13px;
}

.speedValue {
  color: var(--current-mileage-text);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.nextServiceBox {
  color: var(--last-service-mileage-text);
  background-color: var(--last-service-mileage-bg);
  width: 80px;
  height: 38px;

  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 10px;
  border-radius: 24px;
  box-shadow: 0 4px 4px #00000040;
  cursor: pointer;
}

.mileageBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nextServiceContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nextServiceContainer>p {
  line-height: 1.1875em;
  font-size: 16px;
}

.nextServiceInput {
  background-color: transparent !important;
  border: none;
  outline: none;
  max-width: 60px;
  color: var(--last-service-mileage-text);
  font-weight: 600;
}

.nextServiceInput:-webkit-autofill {
  background-color: transparent !important;
  color: var(--last-service-mileage-text) !important;
  box-shadow: 0 0 0px 1000px var(--last-service-mileage-bg) inset !important;
  -webkit-text-fill-color: var(--last-service-mileage-text) !important;
}

.nextServiceInput:-webkit-autofill:hover,
.nextServiceInput:-webkit-autofill:focus {
  background-color: transparent !important;
  color: var(--last-service-mileage-text) !important;
  box-shadow: 0 0 0px 1000px var(--last-service-mileage-bg) inset !important;
  -webkit-text-fill-color: var(--last-service-mileage-text) !important;
}