.searchPart {
  position: relative;
}

.inputBox {
  display: flex;
  width: 364px;
  height: 40px;
  padding: 0 30px;
  padding-left: 52px;
  align-items: center;
  gap: 122px;
  flex-shrink: 0;

  border-radius: 8px;
  background: var(--bg-input);
  overflow: hidden;
  display: flex;
  align-items: center;
  /* justify-content: center; */

  position: relative;
}

.input {
  height: 100%;
  background: var(--bg-input);
  border: none;
  outline: none;
  width: 260px;

  color: white;
}

.iconSearch {
  fill: white;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.iconArrow {
  fill: white;
  position: absolute;
  right: 10px;

  top: 50%;
  transform: translateY(-50%);
}

.optionsBox {
  background-color: var(--bg-input);
  /* margin-top: 5px; */
  border-radius: 8px;
  /* padding: 8px 0; */
  border: 1px dashed var(--input-stroke);
  overflow: hidden;
  position: absolute;
  top: 107%;
  left: 0;

  width: 364px;
}

.option {
  color: var(--white);
  height: 40px;
  gap: 10px;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  cursor: pointer;
}

.option:not(:last-child) {
  border-bottom: 1px dashed var(--input-stroke);
}

.option:hover {
  background-color: var(--bg-secondary);
}
