.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: min(0.926vh, 10px) 0;
  /* padding: 10px 0; */
  position: relative;
}

.leftSideWrapper {
  display: flex;
  align-items: center;
  gap: min(1.459vw, 27px);
  /* gap: 27px; */
}