.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 11px;
    position: relative;
}

@media only screen and (min-width: 1850px) {
.header {
    padding: 10px 0;
  }
}

.leftSideWrapper{
  display: flex;
  align-items: center;
  gap: 27px;
}