.userBarContainer {
    position: relative;
}

.btn {
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 48px;
    right: 10px;
  }
  
  .btn {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .btn:hover {
    transform: scale(1.1); 
  }

  .iconSettings{
    stroke: white;
    width: 13px;
    height: 13px;
  }

  