.userBarContainer {
  display: flex;
  align-items: center;
  position: absolute;
  top: 48px;
  right: 10px;
}

@media only screen and (min-width: 1920px) {
  .userBarContainer {
    top: 75px;
    right: 23px;
}
}

  .btn {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .btn:hover {
    transform: scale(1.1); 
  }

  .iconSettings{
    stroke: white;
    width: 13px;
    height: 13px;
  }

  @media only screen and (min-width: 1920px) {
    .iconSetting {
      width: 20px;
      height: 20px;
  }
  }

  