.callHistory {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: circle !important;
  list-style-type: circle !important;
}

/* Хедер першого акардіона */
.listItem {
  width: 640px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 50px;
  padding: 0px 20px;
  cursor: pointer;
  border-radius: 6px;
  background-color: #2d3138;
}
.kilometersWrapper,
.dateWrapper {
  display: flex;
  align-items: center;
}
.kilometersWrapper {
  gap: 10px;
}
.dateWrapper {
  gap: 20px;
}
.numberOfKilometers,
.kilometersDriven,
.date {
  font-weight: 600;
  display: flex;
  gap: 10px;
  padding: 10px 14px;
  border-radius: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.numberOfKilometers {
  color: var(--current-mileage-text);
  background: #43a48d14;
}
.kilometersDriven {
  color: var(--last-service-mileage-text);
  background: #a4704314;
}
.date {
  color: var(--red);
  background: #c38ce614;
}
.unActiveDialogBtn {
  border: none;
  background: none;
  transition: transform 200ms ease-in-out;
}
.activeDialogBtn {
  background-color: none;
  transform: rotate(180deg);
}

/* Тіло першого акардіона */
.bodyAccardionWrapper {
  margin-top: 20px;
}
.btnDownloadsWrapper {
  display: flex;
  gap: 27px;
}
.btnDownloadsItem {
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  display: flex;
  padding: 10px 16px;
  align-items: center;
  gap: 18px;
  border-radius: 6px;
  background: #313540;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.downloadBtn {
  display: flex;
  align-items: center;
  padding: 4px 6px;
  gap: 5px;
  color: var(--icon-gray);
  border-radius: 6px;
  background: var(--bg-input);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
}
.downloadBtn > span {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

/* Хедер другого акардіона */

.secondAcordionList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.secondAcordionWrapper {
  margin-top: 20px;
  padding: 10px;
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-width: thin;
  width: 430px;
  border-radius: 12px;
  background: #31353e;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.secondAcordion {
  display: flex;
  min-height: 90px;
  align-items: center;
  gap: 19px;
  flex-shrink: 0;
}
.callRecordWrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.callRecord {
  display: flex;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 26px;
  width: 252px;
  height: 70px;
  border-radius: 0px 10px 10px 10px;
  background-color: var(--player-secondary-bg);
}
.callRecord > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  gap: 10px;
  border-radius: 20px;
  background: var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.callRecord > p {
  font-size: 16px;
  font-weight: 600;
}

.transcriptionToggleBtn {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: var(--white);
  border: none;
  border-radius: 12px;
  background: var(--player-secondary-bg);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.transcriptionToggleBtn > p {
  font-size: 16px;
  font-weight: 600;
}

/* Тіло другого акардіона */

.secondAcordionBody {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 11px 34px 10px 21px;
  border-radius: 12px;
  background: #2c2d31;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.transcriptionImportantBtn {
  display: flex;
  gap: 5px;
  padding: 2px 6px;
  color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  background-color: var(--player-secondary-bg);
}
.transcriptionImportantBtn > p {
  font-size: 14px;
  font-weight: 300;
}
.transcriptionIcon {
  transition: transform 200ms ease-in-out;
}
.activeTranscriptionIcon {
  transform: rotate(180deg);
}
.messages {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}
