.serviceHistory {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  margin-left: 44px;
  margin-bottom: 18px;
}
/* Хедер першого акардіона */
.listOfAccardion {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  padding-right: 23px;
  height: 100%;
  max-height: 680px;
  overflow-y: scroll;
}
.higherСontainer {
  max-height: 760px;
}
.listOfAccardion::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}
.listOfAccardion::-webkit-scrollbar-thumb {
  background: var(--player-secondary-bg);
  border-radius: 4px;
  padding: 5px 0 5px 0;
}
.listOfAccardion::-webkit-scrollbar-track {
  background: #202020;
  border-radius: 4px;
  padding: 5px 0 5px 0;
}
.paginationRecord {
  display: flex;
  align-content: flex-end;
  margin-top: 14px;
}
.addRecordBtn {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  border: none;
  padding: 10px 0;
  color: var(--white);
  background-color: var(--green-btn-normal);
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
}
.addRecordBtn:hover {
  background-color: var(--green-btn-hover);
}
