.statisticsCont {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 8px;
}

.statisticsTitle {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}