.statisticsCont {
  display: flex;
  flex-direction: column;
  gap: clamp(9px, min(1.296vh, 0.757vw), 14px);
  margin-bottom: clamp(10px, min(1.481vh, 0.864vw), 16px);
}

.statisticsTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-size: clamp(16px, min(2.222vh, 1.297vw), 24px);
  font-weight: 300;
  line-height: 1.083em;
}