.statisticsCont {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 8px;
}

@media only screen and (min-width: 1850px) {
  .statisticsCont {
    gap: 34px;
    margin-bottom: 14px;
  }
}

.statisticsTitle {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}