.calendarWrapper {
    padding: clamp(13px, min(1.851vh, 1.081vw), 20px);
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 12px;
    background-color: var(--bg-secondary);
}

.containerpagin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.boxpagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: clamp(3px, min(0.463vh, 0.27vw), 5px);
    width: clamp(138px, min(10.811vw, 1.759vh * 10.527), 200px);
    height: clamp(12px, min(1.759vh, 10.811vw / 10.526), 19px);
}

.namemonth {
    color: var(--white);

    font-family: "Roboto", sans-serif;
    font-size: clamp(12px, min(1.666vh, 0.973vw), 18px);
    font-style: normal;
    font-weight: 300;
}


.iconstep {
    stroke-width: 2px;
    stroke: var(--white);
    border: none;
    width: clamp(12px, min(1.666vh, 0.973vw), 18px);
    height: clamp(12px, min(1.666vh, 0.973vw), 18px);
    text-align: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--input-stroke);

    stroke-width: 3px;
}

.arrowIcon {
    width: clamp(12px, min(1.666vh, 0.973vw), 18px);
    height: clamp(12px, min(1.666vh, 0.973vw), 18px);
    stroke: var(--white);
}

.pieIconWrapper {
    border: none;
    text-align: center;
    cursor: pointer;
}