.calendarWrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 12px;
    background-color: var(--bg-secondary);
}

.containerpagin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.boxpagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: clamp(117px, min(9.189vw, 1.759vh * 8.947), 170px);
    height: clamp(12px, min(1.759vh, 9.189vw / 8.947), 19px);
    gap: clamp(3px, min(0.463vh, 0.27vw), 5px);
}

.namemonth {
    color: var(--white);

    font-family: "Roboto", sans-serif;
    font-size: clamp(12px, min(1.481vh, 0.864vw), 16px);
    font-style: normal;
    font-weight: 300;
}

.crmblock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(6px, min(0.926vh, 0.541vw), 10px);
}


.iconstep {
    stroke: var(--white);
    border: none;
    stroke-width: 3px;
    width: clamp(12px, min(1.666vh, 0.973vw), 18px);
    height: clamp(12px, min(1.666vh, 0.973vw), 18px);
    text-align: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--input-stroke);
    cursor: pointer
}


.arrowIcon {
    width: clamp(12px, min(1.666vh, 0.973vw), 18px);
    height: clamp(12px, min(1.666vh, 0.973vw), 18px);
    stroke: var(--white);
}

.pieIconWrapper {
    border: none;
    text-align: center;
    cursor: pointer;
}