.dayCarsItemContainer {
    display: flex;
    flex-direction: row;
    width: 454px;
    height: 220px;
    padding: 20px 30px;
    border-radius: 8px;
    border: 1px solid  #222;
    background: #202020;
}
@media only screen and (min-width: 1920px) {
    .dayCarsItemContainer {
        padding: 20px 30px;
       
  }
  }
  
  .modalDayCarsItemContainer{
    display: flex;
    width: 130px;
    height: 184px;
    padding: 8px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 4px;
  }

  .userInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
}

  .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    width: 137px;
    height: 24px;
    padding-left: 8px;
    margin-bottom: 8px;

    border-radius: 6px;
    border: 1px solid  #994CA5;
  }

  .nameTitle{
    color:#994CA5;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    font-variant: small-caps;
  }

  .infoCard{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 11px;

  }

  .textName, .textTel, .nameCar {
    margin-left: 6px;
  }

  .vinNum{
    display: block;
    text-align: center;
    width: auto;
    height: 22px;
    padding: 3px 10px;
    border-radius: 6px;
    background:  #455158;

    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }

  .textName{
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
  }

  .textTel{
    color:  #959595;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
  }

  .nameCar{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
  }

  .btnContainer{
    display: flex;
    text-align: center;
    gap: 15px;
    margin-top: auto; 
   
  }

  .btnSave{
    background-color: transparent;
  }

.carPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 110px;
}

@media only screen and (min-width: 1920px) {
    .carPhoto {
        flex: 0 0 150px;
    }
}

.modalCarPhoto{
    width: 100%; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 84px;
}

.modalCarPhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.carPhoto img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}


.carsInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding-left: 20px;
}

@media only screen and (min-width: 1920px) {
    .carsInfo {
        padding: 11px 30px;
  }
  }

  .modalcarsInfo{
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-grow: 1;
    width: 100%;
  }

.aboutCars {
    display: flex;
    flex-direction: column;
    font-variant: small-caps;

}

.carNumber {
    color: #FFF;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

@media only screen and (min-width: 1920px) {
    .carNumber {
        font-size: 20px;
        font-weight: 600;
  }
  }

.auto {
    color: #9E9E9E;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
    letter-spacing: 0.5px;
}

@media only screen and (min-width: 1920px) {
    .auto {
        font-size: 14px;
  }
  }

.timeInfo {
    font-size: 12px;
    color: #9E9E9E;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant-numeric: lining-nums proportional-nums;

}

@media only screen and (min-width: 1920px) {
    .timeInfo {
        font-size: 15px;
  }
  }

