.dayCarsItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 454px;
  height: 220px;
  padding: 20px 21px 20px 30px;
  border-radius: 8px;
  border: 1px solid #222;
  background: #202020;
}

/* @media only screen and (min-width: 1850px) {
    .dayCarsItemContainer {
        padding: 20px 30px;
       
  }
  } */
  
  .modalDayCarsItemContainer{
    display: flex;
    width: 416px;
    height: 200px;
    padding: 10px 21px 10px 30px;
    gap: 12px;
    border-radius: 8px;
  }

.modalDayCarsItemContainer {
  display: flex;
  width: 130px;
  height: 184px;
  padding: 8px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 4px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  width: 137px;
  height: 24px;
  padding-left: 8px;
  margin-bottom: 8px;

  border-radius: 6px;
}

.statusText {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1em;
}

.completed {
  /* font-size: 16px; */
  color: #246D4D;
}

.new {
  /* font-size: 20px; */
  color: #EBD534;
}

.repair {
  /* font-size: 20px; */
  color: #994CA5;
}

.checkRepair {
  /* font-size: 16px; */
  color: #3956CC;
}

/* .statusTextLarge {
    font-size: 20px;
  } */

.infoCard {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 11px;
}

.infoName,
.infoTel,
.infoCar {
  display: flex;
  gap: 8px;
  align-items: center;
}

.vinNum {
  display: block;
  text-align: center;
  width: 161px;
  height: 22px;
  padding: 3px 10px;
  border-radius: 6px;
  background: #455158;

  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.textName {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.textTel {
  color: #959595;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.nameCar {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-wrap: nowrap;
}

.btnContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: auto;

}

.btnSave {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #C7C7C7;
}

.btnDetail {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 24px;

  border-radius: 6px;
  background-color: #3956CC;
  border: none;
  cursor: pointer;
}

.btnDetailText {
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;

}

.carPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  height: 61px;
  margin-bottom: 12px;
}

/* 
@media only screen and (min-width: 1850px) {
    .carPhoto {
        flex: 0 0 150px;
    }
} */


.carPhoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;

}

.carsInfo {
  display: flex;
  gap: 11px;
}

.carInfoLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  /* width: 80px; */
}

.rating {
  display: flex;
  flex-wrap: nowrap;
}

.carBtnNumber {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 13px;
  height: 13px;
  margin-bottom: 15px;
}

.money {
  color: #246D4D;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.carInfoRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 96px;
}

.carRegContainer {
  display: flex;
  align-items: center;
  width: 96px;
  height: 23px;
  gap: 3px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid #000;
  background: #D9D9D9;
}

.carRegFlag {
  width: 5.4px;
  height: 3.6px;
}

.carRegCountrys {
  padding: 4px 1.5px;
  height: 100%;
  border-radius: 4px 0px 0px 4px;
  background: #00349A;
}

.carRegCountry {
  color: #FFF;
  font-size: 4px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

.carNumber {
  color: #101010;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.carRegFlag {
  margin-bottom: 4px;
}

.mileInfo,
.timeWork {
  display: flex;
  gap: 7px;
  align-items: center;
}

.timeWork {
  margin-top: 6px;

}

.mileage {
  align-items: center;
  color: #A1FFC5;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.time {
  color: #959595;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}



.total {
  margin-top: auto;

  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.totalPay {
  margin-top: auto;

}