.dayCarsItemContainer {
    display: flex;
    width: 280px;
    height: 100px;
    border-radius: 5px;
    background: #1A1A1A;
    padding: 6px 10px;
    border-radius: 5px;
}

@media only screen and (min-width: 1920px) {
    .dayCarsItemContainer {
        width: 454px;
        height: 150px;
        padding: 11px 20px;
        border-radius: 6px;
  }
  }
  
  .modalDayCarsItemContainer{
    display: flex;
    width: 130px;
    height: 184px;
    padding: 8px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 4px;

  }

.carPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 110px;
}

@media only screen and (min-width: 1920px) {
    .carPhoto {
        flex: 0 0 150px;
    }
}

.modalCarPhoto{
    width: 100%; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 84px;
}

.modalCarPhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.carPhoto img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}


.carsInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding-left: 20px;
}

@media only screen and (min-width: 1920px) {
    .carsInfo {
        padding: 11px 30px;
  }
  }

  .modalcarsInfo{
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-grow: 1;
    width: 100%;
  }

.aboutCars {
    display: flex;
    flex-direction: column;
    font-variant: small-caps;

}

.carNumber {
    color: #FFF;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

@media only screen and (min-width: 1920px) {
    .carNumber {
        font-size: 20px;
        font-weight: 600;
  }
  }

.auto {
    color: #9E9E9E;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
    letter-spacing: 0.5px;
}

@media only screen and (min-width: 1920px) {
    .auto {
        font-size: 14px;
  }
  }

.timeInfo {
    font-size: 12px;
    color: #9E9E9E;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant-numeric: lining-nums proportional-nums;

}

@media only screen and (min-width: 1920px) {
    .timeInfo {
        font-size: 15px;
  }
  }

