.containerperiodselector {
    /* width: 309px; */
    /* height: 40px; */
    background: var(--bg-secondary);
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: -23px;
    /* margin-left: -2px; */
    /* margin-bottom: 15px; */
    /* gap: 5px; */
    /* padding: 10px 20px; */

}

@media only screen and (min-width: 1850px) {
    .containerperiodselector {
        margin-top: -15px;
    }
}

.periodtitle {
    color: #9E9E9E;
    /* background: var(--bg-secondary); */
    /* font-variant-numeric: lining-nums proportional-nums; */
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
    align-items: center;
    text-align: center;
    /* padding-top: 3px; */
    margin-left: 3px;
    margin-right: 6px;
}

@media only screen and (min-width: 1850px) {
    .periodtitle {
        font-size: 14px;
        margin-right: 10px;
    }
}

.periodinput {
    color: #9E9E9E;
    background: transparent;
    /* font-variant-numeric: lining-nums proportional-nums; */
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
    width: 99px;
    height: 17px;
    border: none;
    padding: 2px 24px 2px 9px;
}


@media only screen and (min-width: 1850px) {
    .periodinput {
        font-size: 14px;
        width: 147px;
        height: 20px;
        border: none;
        padding: 2px 24px 2px 9px;
    }
}


.icon {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-56%);
    color: #888;
    cursor: pointer;
    pointer-events: auto;
}

@media only screen and (min-width: 1850px) {
    .icon {
        width: 18px;
        height: 18px;
    }
}

.datewrapper {
    position: relative;
    /* display: inline-block; */
    /* width: 120px; */
    background-color: #202020;
    border-radius: 10px;
    margin-right: 35px;
}

@media only screen and (min-width: 1850px) {
    .datewrapper {
        margin-right: 60px
    }
}

.datewrapper:last-child {
    margin-right: 0;
}

.leftdatepickerdropdown {
    margin-left: 30px;
}

.datepickerdropdown {
    margin-left: -40px;

}

@media only screen and (min-width: 1850px) {
    .datepickerdropdown {
        margin-left: 0px;

    }
}