.containerPeriodSelector {
    margin-top: 5px;
    margin-top: clamp(2px, min(0.462vh, 0.27vw), 5px);
    height: clamp(22px, min(3.148vh, 1.837vw), 34px);
    background: var(--bg-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}