.containerperiodselector {
    /* width: 309px; */
    /* height: 40px; */
    background: var(--bg-secondary);
    display: flex;
    align-items: center;
    flex-direction: row;
    /* margin-top: -13px;  */
    /* margin-left: -2px; */
    /* margin-bottom: 15px; */
    /* gap: 5px; */
    /* padding: 10px 20px; */

}

@media only screen and (min-width: 1850px) {
    .containerperiodselector {
        margin-top: 5px;
        margin-top: clamp(3px, calc(3px + (2 * ((100vh - 900px) / 180))), 5px);
        height: clamp(20px, calc(20px + (14 * ((100vh - 900px) / 180))), 34px);
    }
}

.periodtitle {
    color: var(--Icon-Gray);
    /* background: var(--bg-secondary); */
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
    align-items: center;
    text-align: center;
    /* padding-top: 3px; */
    margin-left: 11px;
    margin-right: 6px;
}

@media only screen and (min-width: 1850px) {
    .periodtitle {
        font-size: 15px;
        margin-left: 15px;
        margin-right: 8px;
    }
}

.periodinput {
    color: var(--Icon-Gray);
    background: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
    width: 99px;
    height: 17px;
    border: none;
    padding: 2px 24px 2px 9px;
}


@media only screen and (min-width: 1850px) {
    .periodinput {
        font-size: 14px;
        width: 163px;
        height: clamp(20px, calc(20px + (14 * ((100vh - 900px) / 180))), 34px);
        border: none;
        padding: 4px 8px 4px 8px;
        /* line-height: 26px; */
        /* margin-top: -3px; */
    }
}

.calendarBtn {
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    pointer-events: auto;
    background-color: var(--bg-input);
    border-radius: 50%;
    border-color: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.icon {
    width: 12px;
    height: 12px;
    color: var(--light-gray);
}

@media only screen and (min-width: 1850px) {
    .calendarBtn {
        width: clamp(18px, calc(18px + (8 * ((100vh - 900px) / 180))), 26px);
        height: clamp(18px, calc(18px + (8 * ((100vh - 900px) / 180))), 26px);

        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .icon {
        width: 14px;
        height: 14px;
    }
}

.datewrapper {
    position: relative;
    /* display: inline-block; */
    /* width: 120px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-input);
    border-radius: 10px;
    margin-right: 28px;
}

@media only screen and (min-width: 1850px) {
    .datewrapper {
        margin-right: 20px;
        border-radius: 44px;
        width: 163px;
        padding: 4px 8px;
        height: clamp(20px, calc(20px + (14 * ((100vh - 900px) / 180))), 34px);
        /* margin-top: -5px; */
    }
}

.datewrapper:last-child {
    margin-right: 0;
}

.leftdatepickerdropdown {
    /* margin-left: 30px; */
}

.datepickerdropdown {
    margin-left: -40px;

}

@media only screen and (min-width: 1850px) {
    .datepickerdropdown {
        margin-left: -23px;

    }
}