.detailedClientInfoWrapper {
  display: flex;
  gap: 7px;
  width: 1360px;
  height: 848px;
  background-color: var(--bg-secondary);
  border-radius: 12px;
  padding: 28px 22px 38px 50px;
}

.closeIcon {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 24px;
  height: 24px;
  fill: var(--input-stroke);
}

.closeIcon:hover {
  cursor: pointer;
}
