.navigation {
  /* margin-left: 5px; */
  margin-left: clamp(3px, min(0.463vh, 0.27vw), 5px);
}

.navigationChatOpen {
  margin-left: 0;
}

.navItem {
  /* font-size: 16px; */
  font-size: clamp(12px, min(1.481vh, 0.864vw), 16px);
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
  transition: padding 0.7s ease;
}

.navLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  gap: 10px;
  gap: clamp(6px, min(0.925vh, 0.54vw), 10px);
  transition: color 0.3s, background-color 0.3s, width 0.7s ease,
    box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.navWithChat {
  /* width: 42px; */
  width: clamp(29px, min(3.888vh, 2.27vw), 42px);
  border-radius: 50%;
}

.iconContainer {
  /* width: 42px;
  height: 42px; */
  width: clamp(29px, min(3.888vh, 2.27vw), 42px);
  height: clamp(29px, min(3.888vh, 2.27vw), 42px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--main-gray);
  border-radius: 50%;
  flex-shrink: 0;
}

.iconBonus {
  transition: color 0.3s;
  color: var(--orange);
  /* width: 18px;
  height: 18px; */
  width: clamp(12px, min(1.759vh, 1.027vw), 19px);
  height: clamp(12px, min(1.759vh, 1.027vw), 19px);
}

.iconRating,
.iconChart {
  transition: color 0.3s;
  color: white;
  width: clamp(14px, min(2.037vh, 1.189vw), 22px);
  height: clamp(14px, min(2.037vh, 1.189vw), 22px);
}

.navLink.active .iconContainer {
  background-color: var(--light-gray);
}

.navLink.active .iconRating,
.navLink.active .iconChart {
  color: var(--bg-secondary);
}

.disabled {
  pointer-events: none;
  color: var(--input-text);
}

.hidden {
  display: none;
}

.bottomNavContainer {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  gap: clamp(6px, min(0.925vh, 0.54vw), 10px);
}

.visible {
  opacity: 1;
  max-width: 200px;
  overflow: visible;
}

.hidden {
  opacity: 0;
  max-width: 0;
  overflow: hidden;
}

/* Стилі для тексту, який поступово розгортається */
.linkText {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  transition: max-width 0.7s ease, opacity 0.7s ease;
  opacity: 0;
}

.linkText.visible {
  max-width: 130px;
  opacity: 1;
}

.linkText.hidden {
  opacity: 0;
  max-width: 0px;
}