.navigation {
  margin-left: 5px;
}

.navigationChatOpen {
  margin-left: 0;
}

.navItem {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
  transition: padding 0.7s ease;
  padding: 0;
}

.navLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  gap: 10px;
  transition: color 0.3s, background-color 0.3s, width 0.7s ease;
}

.navWithChat {
  width: 42px;
}

.iconContainer {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--main-gray);
  border-radius: 50%;
  flex-shrink: 0;
}

.iconBonus {
  transition: color 0.3s;
  color: var(--orange);
  width: 18px;
  height: 18px;
}

.iconRating,
.iconChart {
  transition: color 0.3s;
  color: white;
  width: 22px;
  height: 22px;
}

.iconChart {
  width: 15px;
  height: 15px;
}

.navLink.active .iconContainer {
  background-color: var(--light-gray);
}

.navLink.active .iconRating,
.navLink.active .iconChart {
  color: var(--bg-secondary);
}

.disabled {
  pointer-events: none;
  color: var(--input-text);
}

.hidden {
  display: none;
}

.bottomNavContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.visible {
  opacity: 1;
  max-width: 200px;
  overflow: visible;
}

.hidden {
  opacity: 0;
  max-width: 0;
  overflow: hidden;
}

/* Стилі для тексту, який поступово розгортається */
.linkText {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  transition: max-width 0.7s ease, opacity 0.7s ease;
  opacity: 0;
}

.linkText.visible {
  max-width: 130px;
  opacity: 1;
}

.linkText.hidden {
  opacity: 0;
  max-width: 0px;
}
