.rightSectionWrapper {
  width: 411px;
  height: 967px;
  border-radius: 12px;
  /* border: 1px solid var(--light-gray); */
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.client {
  height: 172px;
  align-self: stretch;
  background-color: var(--bg-secondary);
  border-radius: 12px;
}

.wrapper .accordion {
  background: var(--bg-secondary);
  color: var(--white);
  box-shadow: none;
  width: 411px;
}

.wrapper .accordion .MuiAccordionSummary-root {
  background: var(--bg-secondary);
  color: var(--light-gray);
}

.rightSectionWrapper .accordionTitle {
  display: flex;

  width: 100%;
  background: var(--bg-secondary);

  align-items: start;
  flex-shrink: 0;
  border-radius: 12px;
  color: var(--light-gray);
  font-size: 20px;
  font-weight: 600;
  transition: height 0.3s;
  border-radius: 12px;
  padding: 16px 19px 16px 24px;
}

.accordionTitle > div {
  margin: 0;
}
.accbox {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.accbox > div {
  padding: 0;
}

.accboxtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.accboxtitle > p {
  font-size: 20px;
}

.topWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}

.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background-color: var(--current-mileage-text);
  color: var(--dark-gray);
  cursor: pointer;
}
