.containerCarModal {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 616px;
    padding: 60px 28px 22px 28px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 12px;
    position: relative;
    background-color: var(--bg-secondary);
}

@media only screen and (min-width: 1850px) {
    .containerCarModal {
        width: 1360px;
        height: 850px;
    }
  }

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;

}

.scrollableContent {
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--input-stroke) var(--bg);
}

@media only screen and (min-width: 1850px) {
    .containerCarModal {
        max-height: 850px;
    }
  }


.scrollableContent::-webkit-scrollbar {
    width: 8px;
}

.scrollableContent::-webkit-scrollbar-thumb {
    background-color: var(--input-stroke);
    border-radius: 10px;
}

.scrollableContent::-webkit-scrollbar-track {
    background: var(--bg);
}

.scrollableContent::-webkit-scrollbar-button {
    display: none;
}



.switch {
    font-size: 17px;
    /* position: relative; */
    display: inline-block;
    width: 50px;
    height: 27px;
    cursor: pointer;

    position: absolute;
    top: 12px;
    left: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg);
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    border-radius: 50%;
    left: 2px;
    top: 1px;
    z-index: 1;
    background-color: var(--input-stroke);
    transition: .4s;
}

.iconRight {
    color: var(--input-stroke);
    position: absolute;
    top: 5px;
    left: 28px;
    z-index: 2;
    width: 16px;
    height: 16px;
}

.iconLeft {
    color: var(--input-stroke);
    position: absolute;
    top: 5px;
    left: 6px;
    width: 16px;
    height: 16px;
    z-index: 2;
}

.iconClose {
    color: var(--input-stroke);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.closeButton {
    /* width: 18px;
    height: 18px; */
    position: absolute;
    right: 15px;
    top: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
}


.iconRight svg {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.iconLeft svg {
    animation: tilt 5s linear infinite;
}

@keyframes tilt {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.input:checked+.slider {
    background-color: var(--bg-input);
}

.input:focus+.slider {
    box-shadow: 0 0 1px var(--bg-input);
}

.input:checked+.slider:before {
    transform: translateX(22px);
}

.active {
    transition: color 0.3s ease;
}