.sidebar {
  display: flex;
  flex-direction: column;
  gap: 28px;
  /* width: 230px; */
  /* height: 641px; */
  /* max-height: 100vh; */
  border-radius: 12px;
  background: var(--bg-secondary);
  padding: 20px 30px;

  /* flex-grow: 1; */
  flex-shrink: 0;
  transition: width 0.5s ease-in, padding 0.5s ease-in, gap 0.5s ease-in;
}
.chatOpen {
  width: 80px;
  padding: 10px;
  gap: 38px;
}

@media only screen and (min-width: 1850px) {
  .sidebar {
    width: 230px;
    height: clamp(804px, calc(804px + (163 * ((100vh - 900px) / 180))), 967px);
  }
  .chatOpen {
    width: 106px;
    padding: 20px;
  }
}

.userInfo {
  position: relative;
}
.userBar {
  position: absolute;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: 10px;
  overflow-y: auto;
  max-height: calc(100vh - 200px); 
}

.bottomContainer.withScroll {
  overflow-y: auto;
}

.bottomContainer::-webkit-scrollbar {
  width: 0px;
}

.topContainer {
  flex-shrink: 0;
    position: relative;
}