.sidebar {
  display: flex;
  flex-direction: column;
  height: 632px;
  padding-bottom: 9px;
  margin-right: 21px;
  justify-content: space-between;
}

.topContainer, .bottomContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bottomContainer {
  gap: 9px;
}