.paymentDatailsModal {
  position: relative;
  height: 719px;
  width: 688px;
  padding: 30px 31px;
  border-radius: 12px;
  background-color: #1f2123;
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 18px;
  fill: var(--input-stroke);
}

.closeIcon:hover {
  cursor: pointer;
}

.modalHeader {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 30px;
}

.topSectionWrapper {
  width: 626px;
  height: 159px;
  padding: 20px;
  border-radius: 12px;
  background-color: #2f3b41;
  margin-bottom: 20px;
}

.firstSectionWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}

.productName {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.balance {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sum {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.secondSectionWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}

.thirdSectionWrapper {
  display: flex;
  gap: 27px;
  justify-content: flex-end;
  align-items: center;
}

.buttomSectionWrapper {
  width: 626px;
  height: 422px;
  padding: 32.5px 20px 20px 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  background-color: #212729;
  gap: 35px;
}

.fieldWrapper {
  display: flex;
  align-items: center;
}

.label {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: var(--icon-gray);
}

.monoLogo {
  width: 96px;
  height: 20px;
  margin-right: 10px;
}

.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkedIcon {
  color: var(--blue-btn-normal);
  width: 16px;
  height: 16px;
  margin-right: 16px;
}

.paymentMethod {
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

.btnWrapper {
  margin-top: 12.5px;
  display: flex;
  gap: 27px;
  align-items: center;
}

.btn {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 6px;
  background-color: var(--green);
  box-shadow: 0px 4px 4px 0px #00000040;
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn:hover {
  background-color: var(--green-btn-hover);
  box-shadow: 0px 2px 2px 0px #00000040;
}
