.btnDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(41px, min(3.189vw, 2.222vh * 2.458), 59px);
  height: clamp(16px, min(2.222vh, 3.189vw / 2.458), 24px);

  border-radius: 6px;
  background-color: var(--blue-btn-normal);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
}

.btnDetail:hover {
  background-color: var(--blue-btn-hover);

}

.btnDetailText {
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: clamp(10px, min(1.111vh, 0.648vw), 12px);
  font-weight: 600;
  line-height: 1.17em;
}