.wrapper {
  display: flex;
  flex-direction: column;
  width: 1057px;
  max-height: 652px;
  gap: 14px;
  overflow-y: auto;
  padding-right: 15px;
}

.wrapper::-webkit-scrollbar {
  width: 8px;
  height: 463px;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: var(--main-gray);
  border-radius: 4px;
}

.wrapper::-webkit-scrollbar-track {
  background-color: var(--bg-secondary);
}

.item,
.leftContainer,
.rightContainer {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.item {
  gap: 14px;
  align-items: start;
}

.leftContainer {
  gap: 8px;
  /* position: relative; */
  /* Базове позиціонування контейнера */
  display: flex;
  align-items: center;
}

.timeCall {
  color: var(--light-gray);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.rightContainer {
  padding: 0px 8px 0px 16px;
  width: 920px;
  height: 100%;
  background: var(--bg-secondary);
  border-radius: 12px;
  /* gap: 40px; */

}

/* .rightleftContainer {
  display: flex;
  align-items: center;
} */

.userContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 180px;
  height: 48px;
  margin-right: 18px;
}

.avatar {
  min-width: 32px;
  width: 32px;
  height: 32px;
}

.auto {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 172px;
  height: 48px;
  margin-right: 18px;
}

.status {
  display: flex;
  align-items: center;
  height: 48px;
}

.archiveBtnContainer{
  display: flex;
    align-items: center;
    height: 48px;
}

.audioContainer .callTranscription {
  border-radius: 20px;
}

.audioContainer {
  width: 321px;
  padding: 8px 0;
  margin-left: auto;
}

:global(.MuiAccordionSummary-root) {
  min-height: 0px !important;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  width: 137px;
  height: 24px;
  padding-left: 8px;

  border-radius: 6px;
  position: relative;
  transition: background-color 0.3s ease, border-left 0.3s ease;
}

.title::before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: var(--glow-color);
  filter: blur(5px);
  z-index: 1;
  border-radius: 0 5px 5px 0;
}

.all{
  color: var(--status-all);
}

.new{
  color: var(--status-new);
}

.viewRepair{
  color: var(--status-view-repair);
}

.completed{
  color: var(--status-complete);
}

.repair{
  color: var(--status-repair);
}

.checkRepair{
  color: var(--status-diag);

}

.statusText {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43em;
  font-variant: small-caps;
  text-overflow: ellipsis;
  overflow: hidden;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.btnSave {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--icon-gray);
  background: transparent;
  padding: 4px;
  margin-left: 18px;
  margin-right: 18px;
}

.plus {
  cursor: pointer;
  border-radius: 4px;
  width: 14px;
  height: 14px;
  border: none;

}

.iconPlus {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: var(--green);
  background-color: var(--white);
  stroke-width: 3px;
}

.iconAuto {
  flex-shrink: 0;
}