.switch {
    font-size: 17px;
    font-size: clamp(11px, min(1.574vh, 0.919vw), 17px);
    position: relative;
    display: inline-block;
    /* width: 50px;
    height: 27px;
    width: min(2.703vw, 50px);
    height: min(2.5vh, 27px); */
    width: clamp(30px, min(2.703vw, 2.5vh * 1.85), 50px);
    height: clamp(18px, min(2.5vh, 2.703vw / 1.85), 27px);
    cursor: pointer;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-input);
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    /* width: 24px;
    height: 24px;  */
    /* width: min(1.297vw, 24px);
    height: min(2.222vh, 24px); */
    width: clamp(16px, min(1.297vw, 2.222vh), 24px);
    height: clamp(16px, min(1.297vw, 2.222vh), 24px);
    border-radius: 50%;
    left: clamp(2px, min(0.108vw, 0.092vh * 1.2), 3px);
    top: clamp(1px, min(0.092vh, 0.054vw * 1.1), 2px);
    z-index: 1;
    background-color: var(--main-gray);
    transition: 0.4s;
}

.sun {
    color: var(--light-gray);
    position: absolute;

    top: clamp(3px,
            calc(clamp(16px, min(2.5vh, 2.703vw / 1.85), 27px) * 0.2),
            6px);
    left: clamp(19px,
            calc(clamp(30px, min(2.703vw, 2.5vh * 1.85), 50px) * 0.57),
            28px);
    z-index: 2;
    width: clamp(11px, min(0.865vw, 1.481vh), 16px);
    height: clamp(11px, min(0.865vw, 1.481vh), 16px);
}

.moon {
    color: #A4A4A4;
    position: absolute;

    top: clamp(3px,
            calc(clamp(16px, min(2.5vh, 2.703vw / 1.85), 27px) * 0.2),
            6px);
    left: clamp(6px,
            calc(clamp(30px, min(2.703vw, 2.5vh * 1.85), 50px) * 0.1),
            10px);
    z-index: 2;
    width: clamp(11px, min(0.865vw, 1.481vh), 16px);
    height: clamp(11px, min(0.865vw, 1.481vh), 16px);
}


.input:checked+.slider {
    background-color: var(--bg-input);
}

.input:focus+.slider {
    box-shadow: 0 0 1px var(--bg-input);
}

.input:checked+.slider:before {
    transform: translateX(clamp(14px,
                calc(clamp(30px, min(2.703vw, 2.5vh * 1.85), 50px) * 0.44),
                22px));
}

.tooltip {
    position: relative;
}

.tooltip .tooltipContent {
    font-size: 10px;
    text-wrap: nowrap;
    visibility: hidden;
    background: var(--main-gray);
    color: var(--light-gray);
    text-align: center;
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    position: absolute;
    z-index: 1;
    left: -20%;
    top: 135%;
}

.tooltip:hover .tooltipContent {
    visibility: visible;
}