.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 27px;
    cursor: pointer;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-input);
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    border-radius: 50%;
    left: 2px;
    top: 1px;
    z-index: 1;
    background-color: var(--main-gray);
    transition: .4s;
}

.sun {
    color: var(--light-gray);
    position: absolute;
    top: 5px;
    left: 28px;
    z-index: 2;
    width: 16px;
    height: 16px;
}

.moon {
    color: #A4A4A4;
    position: absolute;
    top: 5px;
    left: 6px;
    width: 16px;
    height: 16px;
    z-index: 2;
}

/* .switch:hover */
.sun svg {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* .switch:hover */
.moon svg {
    animation: tilt 5s linear infinite;
}

@keyframes tilt {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.input:checked+.slider {
    background-color: var(--bg-input);
}

.input:focus+.slider {
    box-shadow: 0 0 1px var(--bg-input);
}

.input:checked+.slider:before {
    transform: translateX(22px);
}

.tooltip {
    position: relative;
}

@media only screen and (min-width: 1850px) {
    .tooltip {
        margin-right: 12px;
    }
}

/* 
.tooltip .tooltipContent::after {
    content: " ";
    position: absolute;
    top: -45%;
    left: 43%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--main-gray) transparent;
} */

.tooltip .tooltipContent {
    font-size: 10px;
    text-wrap: nowrap;
    visibility: hidden;
    background: var(--main-gray);
    color: var(--light-gray);
    text-align: center;
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    position: absolute;
    z-index: 1;
    left: -20%;
    top: 135%;
}

.tooltip:hover .tooltipContent {
    visibility: visible;
}