.containerloadstats {
  border-radius: 12px;
  width: 464px;
  height: clamp(323px, calc(323px + (86 * ((100vh - 900px) / 180))), 409px);
  padding: 18px 25px;
  background: var(--bg-secondary);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.stattitle {
  width: 284px;
  height: 28px;
  margin-bottom: 18px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--white);
}

.statpercent {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  width: 60px;
  height: 28px;
  color: var(--orange);
}

.titlebox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 310px;
    
    padding-top: 9px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px; */
}

.areabox {
  width: 422px;
  height: clamp(255px, calc(255px + (66 * ((100vh - 900px) / 180))), 321px);
  margin-left: -10px;
}

.customtooltip {
  background-color: var(--light-gray);
  width: 51px;

  padding: 2px 4px;

  border-radius: 6px;

  /* border: '1px solid #ccc', */
  /* position: absolute;
            left: x+30;
            
            top: y - 35; */
  transform: translateX(-50%);
  font-weight: 400;
  font-size: 6px;
  font-variant: smallCaps;

  font-style: normal;
}

.popuptitle {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 13px;
  font-variant: small-caps;
  color: var(--blue-btn-inactive);
  text-align: center;
}

.popupavto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 11px;
  font-variant: small-caps;
  color: var(--blue-btn-inactive);
}

.kolavto {
  font-size: 16px;
  color: var(--play-btn-triangle);
}

@media only screen and (max-width: 1920px) and (min-width: 1280px) {
  .containerloadstats {
    border-radius: 12px;
    width: 350px;
    height: 297px;
    padding: 10px 0 20px 17px;
  }

  .stattitle {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  .statpercent {
    font-size: 1.5rem;
  }

  .areabox {
    width: 100%;
    height: 100%;
  }
}
