.containerLoadStats {
    border-radius: 12px;
    width: clamp(320px, min(24.972vw, 37.87vh * 1.129), 462px);
    height: clamp(272px, min(37.87vh, 24.972vw / 1.129), 409px);
    padding: 18px 25px;
    padding:
        clamp(12px, min(1.666vh, 0.973vw), 18px) clamp(17px, min(1.351vw, 2.314vh), 25px);
    background: var(--bg-secondary);
    /* border: 1px solid var(--black); */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.titleBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: clamp(12px, min(1.666vh, 0.973vw), 18px);
}

.statTitle {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: var(--white);
    font-size: clamp(16px, min(2.222vh, 1.297vw), 24px);
}


.statPercent {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: var(--orange);
    font-size: clamp(16px, min(2.222vh, 1.297vw), 24px);
}

.areaBox {
    /* width: clamp(291px, min(22.81vw, 29.722vh * 1.314), 422px); */
    width: 100%;
    height: clamp(214px, min(29.722vh, 22.81vw / 1.314), 321px);
    /* margin-left: -10px; */
}


.customTooltip {
    background-color: var(--light-gray);
    width: clamp(33px, min(4.444vh, 2.594vw), 48px);

    padding: 2px 4px;

    border-radius: 6px;
    transform: translateX(-50%);
    font-weight: 400;
    font-size: 6px;
    font-variant: smallCaps;

    font-style: normal;
}

.popupTitle {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: clamp(10px, min(1.296vh, 0.756vw), 14px);
    font-variant: small-caps;
    color: var(--blue-btn-inactive);
    text-align: center;
}

.popupAuto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: clamp(6px, min(0.925vh, 0.54vw), 10px);
    font-variant: small-caps;
    color: var(--blue-btn-inactive);
}

.qtyAuto {
    font-size: clamp(12px, min(1.481vh, 0.864vw), 16px);
    color: var(--play-btn-triangle);
}