.calendarContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.periodTitle {
  color: var(--Icon-Gray);
  font-size: clamp(12px, min(1.481vh, 0.864vw), 16px);
  margin-right: clamp(5px, min(0.740vh, 0.432vw), 8px);
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
  align-items: center;
  text-align: center;
}

input {
  padding: 0;
}

.periodInput {
  color: var(--light-gray);
  background: transparent;
  font-size: clamp(10px, 1.296vh, 14px);
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
  width: 100%;
  height: 100%;
  border: none;
}

.calendarBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  pointer-events: auto;
  background: var(--bg-input);
  border-radius: 50%;
  border-color: transparent;
}

.icon {
  width: clamp(9.7px, min(0.757vw, 1.296vh), 14px);
  height: clamp(9.7px, min(0.757vw, 1.296vh), 14px);
  color: var(--light-gray);
}

.dateWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-input);
  border-radius: 10px;
  margin-right: clamp(19px, min(2.592vh, 1.513vw), 28px);

  padding: 0px clamp(9px, min(0.702vw, 1.203vh), 13px) 0px clamp(5px, min(0.432vw, 0.740vh), 8px);
  height: 100%;
  width: clamp(112px, min(15.092vh, 8.810vw), 163px);
}

.dateWrapperModal {
  border-radius: 44px;
  margin-right: 32px;
  margin-right: clamp(22px, min(2.962vh, 1.729vw), 32px);
}

.dateWrapper:last-child {
  margin-right: 0;
}

.datePickerDropdown {
  margin-left: -23px;
}

.periodInput:focus {
  outline: none;
  border: none;
}

.iconClose {
  cursor: pointer;
  color: var(--light-gray);
  margin-right: 8px;
}