.calendarContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.periodTitle {
  color: var(--Icon-Gray);
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
  align-items: center;
  text-align: center;
  margin-right: 6px;
}

@media only screen and (min-width: 1850px) {
  .periodTitle {
    font-size: 15px;
    margin-right: 8px;
  }
}

input {
  padding: 0;
}

.periodInput {
  color: var(--light-gray);
  background: transparent;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
  width: 100%;
  height: 100%;
  border: none;
}

@media only screen and (min-width: 1850px) {
  .periodInput {
    font-size: 14px;
    border: none;
  }
}

.calendarBtn {
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  pointer-events: auto;
  background-color: var(--bg-input);
  border-radius: 50%;
  border-color: transparent;
}

.icon {
  width: 14px;
  height: 14px;
  color: var(--light-gray);
}

.dateWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-input);
  border-radius: 10px;
  margin-right: 28px;
  padding-left: 13px;
  padding-right: 8px;
  height: 100%;
  width: auto;
}

@media only screen and (max-width: 1920px) and (min-width: 1280px) {
  .datewrapper {
    max-width: 136px;
  }
}

@media only screen and (min-width: 1280px) {
  .datewrapper {
    min-width: 125px;
  }
}

.dateWrapperModal {
  border-radius: 44px;
  margin-right: 32px;
}

.dateWrapperSection {
  border-radius: 12px;
  margin-right: 10px;
}

.dateWrapper:last-child {
  margin-right: 0;
}

.datePickerDropdown {
  margin-left: -40px;
}

@media only screen and (min-width: 1850px) {
  .datePickerDropdown {
    margin-left: -23px;
  }
}

.periodInput:focus {
  outline: none;
  border: none;
}
