.calendarContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.periodTitle {
  color: var(--Icon-Gray);
  font-size: 15px;
  margin-right: 8px;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
  align-items: center;
  text-align: center;
}

input {
  padding: 0;
}

.periodInput {
  color: var(--light-gray);
  background: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
  width: 100%;
  height: 100%;
  border: none;
}

.calendarBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  pointer-events: auto;
  background: var(--bg-input);
  border-radius: 50%;
  border-color: transparent;
}

.icon {
  width: 14px;
  height: 14px;
  color: var(--light-gray);
}

.dateWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-input);
  border-radius: 10px;
  margin-right: 28px;
  padding-left: 13px;
  padding-right: 8px;
  height: 100%;
  width: 163px;
}

.dateWrapperModal {
  border-radius: 44px;
  margin-right: 32px;
}

.dateWrapperSection {
  border-radius: 12px;
  margin-right: 10px;
}

.dateWrapper:last-child {
  margin-right: 0;
}

.datePickerDropdown {
  margin-left: -23px;
}

.periodInput:focus {
  outline: none;
  border: none;
}

.iconClose {
  cursor: pointer;
  color: var(--light-gray);
  margin-right: 8px;
}
