.title{
    color: var(--white);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 20px;
}

.postList{
    display: flex;
    flex-direction: column;
    gap:9px;
    margin-bottom: 20px;
}

.postListItem{
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid var(--input-stroke);
}

.iconsBox{
    display: flex;
    gap: 22px;
}

.addBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addInput{
    display: flex;
    width: 667px;
    padding: 6px 10px;
    align-items: center;

    border-radius: 6px;
    border: 1px solid var(--input-stroke);
    background: var(--bg-secondary);
    outline: none;

    color: var(--white);
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
}

.addBtn{
    display: flex;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;

    border-radius: 6px;
    background-color: var(--blue-btn-normal);

    color: var(--white);
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
}

.addBtn:hover{
background-color: var(--blue-btn-hover);
}

.addBtn:active{
background-color: var(--blue-btn-inactive);
}

.power{
    fill:var(--green-btn-normal);
}

.powerDisabled{
    fill: var(--red);
}

.inputForPostName{
    background-color: transparent;
    outline: none;
    border: none;

    color: var(--white);
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
}