.scheduleWrapper {
    display: flex;
    flex-direction: column;
    max-height: 311px;
    padding: 0 30.5px;
}

.schedule-grid {
    display: grid;
    grid-template-columns: 89px repeat(15, 49px);
    /* 100px для метки дня, и по 1fr для каждого часа */
    gap: 2px;
    /* пространство между ячейками */
}

.header {
    display: contents;
padding: 10px 13px 10px 10px;
    align-items: center;
    gap: 10px;
    border-radius: 12px 12px 0px 0px;
        background: rgba(81, 85, 98, 0.75);
}

.corner {
    grid-column: 1 / 2;
background: rgba(81, 85, 98, 0.75);
   
}

.headercell {
    text-align: center;
    background:  rgba(81, 85, 98, 0.75);;
    color: white;
    padding: 10px 0;
    font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}

.daylabel {
    text-align: left;
    background-color:var(--bg-input);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}

.hourcell {
    height: 40px;
    cursor: pointer;
    background-color: var(--bg-input);
    transition: background-color 0.3s;
}

.hourcell.active {
    background-color: var(--blue-btn-normal);
    /* Цвет активной ячейки */
}