.billingTable {
  width: 1030px;
  height: 100%;

  /* padding-right: 10px; */
}

.scrollContainer {
  width: 1030px;
  max-height: 200px;
  /* padding-right: 10px; */
  margin-top: 20px;
  margin-bottom: 40px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scrollContainer::-webkit-scrollbar {
  width: 8px;
  max-height: 200px;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: var(--main-gray);
  border-radius: 4px;
}

.scrollContainer::-webkit-scrollbar-track {
  background-color: var(--bg-secondary);
  border-radius: 4px;
}

.billingHeader {
  display: grid;
  /* margin-left: 10px; */
  grid-template-columns: 119px 90px 125px 158px 1fr 120px 135px 0px;
  background: transparent;
  color: #fff;
  font-weight: bold;
  padding: 12px 10px;
  text-align: start;
}

.billingHeader p {
  color: #fff;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.billingRow {
  display: grid;
  align-items: center;
  height: 47px;
  border-radius: 4px;
  background: var(--CRM-modal-InputBG, #2d3038);
  grid-template-columns: 116px 91px 129px 155px 1fr 111px 92px 60px;
}

.billingRow p {
  grid-column: 2 / 3;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
