.billingTable {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0px auto 20px;
  overflow: hidden;
}

.billingHeader {
  display: grid;
  /* margin-left: 10px; */
  grid-template-columns: 125px 90px 125px 157px 1fr 115px 107px 60px;
  background: transparent;
  color: #fff;
  font-weight: bold;
  padding: 12px 10px;
  text-align: start;
}

.billingHeader p {
  color: #fff;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.billingRow {
  display: grid;
  align-items: center;
  height: 47px;
  border-radius: 4px;
  background: var(--CRM-modal-InputBG, #2d3038);
  grid-template-columns: 116px 91px 129px 155px 1fr 111px 92px 60px;
}

.billingRow p {
  grid-column: 2 / 3;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
