.wrapper {
  display: flex;
  padding: 8px 18px;
  /* 
  width: clamp(360px, min(28.162vw, 11.481vh * 4.201), 521px);
  height: clamp(83px, min(11.481vh, 28.162vw / 4.201), 124px); */
  width: 100%;
  height: auto;

  border: transparent;
  border-radius: 12px;
  gap: 18px;

  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  background: var(--bg-input);
}

.newStatus {
  stroke: var(--light-gray);
  background: linear-gradient(var(--bg-input), var(--bg-input)) padding-box,
    var(--border-gradient-new) border-box;
  border: 2px solid transparent;
  color: var(--status-new);
}

.repairStatus {
  fill: var(--light-gray);
  background: linear-gradient(var(--bg-input), var(--bg-input)) padding-box,
    var(--border-gradient-repair) border-box;
  border: 2px solid transparent;
  color: var(--status-repair);
}

.checkRepairStatus {
  fill: var(--light-gray);
  background: linear-gradient(var(--bg-input), var(--bg-input)) padding-box,
    var(--border-gradient-diag) border-box;
  border: 2px solid transparent;
  color: var(--status-diag);
}

.completeStatus {
  fill: var(--light-gray);
  background: linear-gradient(var(--bg-input), var(--bg-input)) padding-box,
    var(--border-gradient-complete) border-box;
  border: 2px solid transparent;
  color: var(--status-complete);
}

.viewRepairStatus {
  fill: var(--light-gray);
  background: linear-gradient(var(--bg-input), var(--bg-input)) padding-box,
    var(--status-gradient-view-repair) border-box;
  border: 2px solid transparent;
  color: var(--orange);
}

.imgContainer {
  display: flex;
  /* width: 101px;
  height: 104px; */
  width: clamp(69px, min(5.459vw, 9.629vh * 0.971), 101px);
  height: clamp(70px, min(9.629vh, 5.459vw / 0.971), 104px);
  border-radius: 6px;
  overflow: hidden;
}

.carInfoContainer {
  display: flex;
  flex-direction: column;
}

.carReg {
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  /* font-size: 16px; */
  font-size: clamp(12px, min(1.481vh, 0.864vw), 16px);
  line-height: 1.1875em;
}

.carBrand {
  color: var(--light-gray);
  font-family: "Roboto", sans-serif;
  /* font-size: 16px; */
  font-size: clamp(12px, min(1.481vh, 0.864vw), 16px);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 209px;
  text-transform: uppercase;
}

.carTimeStamp {
  color: var(--white);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-size: clamp(11px, min(1.388vh, 0.81vw), 15px);
  font-weight: 700;
  /* margin-top: 36px; */
  margin-top: clamp(24px, min(3.333vh, 1.946vw), 36px);
}

.detailsContainer {
  display: flex;
  flex-direction: column-reverse;
  /* gap: 49px; */
  gap: clamp(32px, min(4.537vh, 2.648vw), 49px);
  margin-left: auto;
  align-items: flex-end;
}

/* 
.statusContainer {
  display: flex;
  height: 26px;
  border: transparent;
  border-radius: 5px;
} */

.carStatus {
  width: auto;
  height: 26px;
  height: clamp(17px, min(2.407vh, 1.405vw), 26px);
  padding: 1px 6px;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-size: clamp(12px, min(1.296vh, 0.756vw), 14px);
  font-weight: 500;
  line-height: 1.42;
  border: transparent;
  border-radius: 5px;

  display: inline-flex;
  /* align-items: center; */
  justify-content: flex-end;
  gap: 10px;
  gap: clamp(7px, min(0.925vh, 0.54vw), 10px);
  position: relative;
}

.carStatus::after {
  content: "";
  position: absolute;
  right: -1px;
  top: 0;
  width: 3px;
  height: 100%;
  filter: blur(5px);
  border-radius: 0 5px 5px 0;
}

.newStatus .carStatus {
  color: var(--status-new);
  background: var(--current-status-gradient-new);
  border-right: 1px solid var(--glow-new);
  border-left: transparent;
}

.newStatus .carStatus::after {
  background: var(--glow-new);
}

.repairStatus .carStatus {
  color: var(--status-repair);
  background: var(--current-status-gradient-repair);
  border-right: 1px solid var(--glow-repair);
  border-left: transparent;
}

.repairStatus .carStatus::after {
  background: var(--glow-repair);
}

.checkRepairStatus .carStatus {
  color: var(--status-diag);
  background: var(--current-status-gradient-diag);
  border-right: 1px solid var(--glow-diag);
  border-left: transparent;
}

.checkRepairStatus .carStatus::after {
  background: var(--glow-diag);
}

.completeStatus .carStatus {
  color: var(--current-status-complete);
  background: var(--status-gradient-complete);
  border-right: 1px solid var(--glow-complete);
  border-left: transparent;
}

.completeStatus .carStatus::after {
  background: var(--glow-complete);
}

.viewRepairStatus .carStatus {
  color: var(--status-view-repair);
  background: var(--current-status-gradient-view-repair);
  border-right: 1px solid var(--glow-view-repair);
  border-left: transparent;
}

.viewRepairStatus .carStatus::after {
  background: var(--glow-view-repair);
}

.archiveIcon {
  fill: var(--light-gray);
}

.btnContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
}