.wrapper {
  display: flex;
  width: 366px;
  height: 74px;
  gap: 8px;

  background-color: var(--bg-secondary);
  border: transparent;
  border-radius: 6px;
  padding: 5px 8px 5px 5px;

  position: relative;
}

.newStatus {
  stroke: var(--light-gray);
  border: 1px solid var(--status-new);
  color: var(--status-new);
}

.repairStatus {
  fill: var(--light-gray);
  border: 1px solid var(--status-repair);
  color: var(--status-repair);
}

.checkRepairStatus {
  fill: var(--light-gray);
  border: 1px solid var(--status-diag);
  color: var(--status-diag);
}

.completeStatus {
  fill: var(--light-gray);
  border: 1px solid var(--status-complete);
  color: var(--status-complete);
}

.viewRepairStatus {
  color: var(--orange);
}

.imgContainer {
  display: flex;
  width: 64px;
}

.carInfoContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}

.carReg {
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.carBrand {
  color: var(--light-gray);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;

  margin-top: 2px;
}

.carTimeStamp {
  color: var(--white);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;

  margin-top: 9px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  align-items: flex-end;
}

.carStatus {
  display: inline-flex;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;

  border: transparent;

  display: inline-flex;
  align-items: flex-end;
  margin-bottom: 5px;
  gap: 3px;
}

.newStatus .carStatus {
  color: var(--status-new);
}

.repairStatus .carStatus {
  color: var(--status-repair);
}

.checkRepairStatus .carStatus {
  color: var(--status-diag);
}

.completeStatus .carStatus {
  color: var(--status-complete);
}

.carDetails {
  display: inline-flex;

  color: var(--white);
  background-color: transparent;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;

  cursor: pointer;
  transition: font-weight 0.3s ease, color 0.3s ease;
  text-decoration: underline;
}

.carDetails:hover {
  font-weight: 700;
  color: var(--blue);
}

@media screen and (min-width: 1850px) {
  .wrapper {
    display: flex;
    width: 556px;
    height: 105px;
    padding: 3px 5px;

    background-color: var(--bg-secondary);

    gap: 16px;

    position: relative;
  }

  .imgContainer {
    display: flex;
    width: 94px;
    height: 97px;
  }

  .carInfoContainer {
    margin-top: 7px;
    margin-bottom: 9px;
  }

  .carReg {
    font-size: 16px;
    line-height: 1.1875em;
  }

  .carBrand {
    font-size: 16px;
    margin-top: 1px;
  }

  .carTimeStamp {
    margin-top: 24px;
  }

  .carStatus {
    position: absolute;
    bottom: 12px;
    right: 14px;
    display: flex;
    gap: 7px;
    align-items: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.15em;

    border: transparent;
    margin-bottom: 5px;
  }

  .carDetails {
    display: inline-block;
    position: absolute;
    top: 11px;
    right: 22px;

    color: var(--white);
    text-align: right;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-decoration: underline;
  }
}