.popup {
  position: absolute;
  background-color: var(--bg-input);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  top: -145px;
  box-shadow: -1px 3px 18px 7px rgba(0, 0, 0, 0.25) !important;
}

.text {
  padding: 15px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  width: 100%;
}

.text:hover {
  background-color: var(--main-gray);
}

.text:last-child {
  border-radius: 0 0 12px 12px;  
}

.text:first-child {
  border-radius: 12px 12px 0 0;
}

.border {
  border-bottom: 1px solid var(--input-stroke);
}
