.popup {
  position: absolute;
  padding: 10px;
  background-color: var(--bg-input);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
  width: 100%;
  top: 40px;
}

.text {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
