.statsBtn {
  background-color: inherit;
  cursor: pointer;
  border: none;
  /* font-size: 16px; */
  font-size: clamp(12px, min(1.481vh, 0.864vw), 16px);
  font-weight: 400;
  font-variant: small-caps;
  color: var(--white);
}

.statsBtn.activeBtn {
  color: var(--play-btn-triangle);
}