.containercarinfo{
  display: flex;
  flex-direction: column;
}

.headerWrapper {
  display: flex;
  gap: 31px;
  margin-bottom: 21px;
  align-items: center;
 flex-direction: row;
}

.clientName {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1875em;
}

.phone {
  width: 201px;
  height: 35px;
  padding: 6px 16px;
  border-radius: 6px;
  background-color: var(--contacts-info-bg);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.15em;
}

.wrapper {
  display: flex;
  gap: 23px;
}

.imgWrapper {
  display: flex;
  flex-direction: column;
}

.img {
  width: 126px;
  height: 98px;
  object-fit: cover;
}

.carNumberWrapper {
  display: flex;
  width: 126px;
}

.carNumberLeft {
  display: flex;
  flex-direction: column;
  width: 13px;
  height: 28px;
  padding-top: 4px;
  padding-bottom: 4px;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px 0px 0px 6px;
  background-color: #00349a;
}

.flag {
  width: 9px;
  height: 6px;
}

.flagTop {
  height: 3px;
  background-color: #46a9e4;
}

.flagBottom {
  height: 3px;
  background-color: #f5dd23;
}

.numberCountry {
  color: #fff;
  font-size: 6px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.carNumberRight {
  width: 100%;
  height: 28px;
  border-radius: 0px 6px 6px 0px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carNumber {
  color: #101010;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.15em;
}

.carInfoWrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 8px;
}

.carName {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1667em;
}

.carYear {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.15em;
}

.carNumbersItem {
  height: 46px;
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  /* padding: 6px 16px; */

  border-radius: 6px;
  background-color: var(--contacts-info-bg);
  margin-bottom: 15px;
}

.vin {
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.copyBtn {
  border: none;
  width: 34px;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
  background-color: var(--bg-input);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  cursor: pointer;
}

.iconColor {
  fill: var(--icon-gray);
}

.mileageWrapper {
  display: flex;
  gap: 13px;
  align-items: center;
}

.mileageText {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2em;
  text-decoration: underline;
}

.mileage {
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  padding: 6px 16px;
  border-radius: 6px;
  background-color: var(--bg-input);
}