.containerstats {
    width: 310px;
    height: 270px;
    background: var(--bg-secondary);
    border-radius: 12px;
    padding: 9px 13px 11px;
    /* display: flex; */
}

@media only screen and (min-width: 1850px) {
    .containerstats {
        width: 462px;
        height: 405px;
        padding: 13px 18px 0 14px;
    }
}