.datePickerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datePaginationBtn {
  display: flex;
  width: clamp(20px, min(2.777vh, 1.622vw), 30px);
  height: clamp(20px, min(2.777vh, 1.622vw), 30px);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(81, 85, 98, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
}

.datePaginationBtn:disabled {
  cursor: not-allowed;
  background-color: rgba(81, 85, 98, 0.1);
}

.datePaginationBtn:disabled .btnIcon {
  color: var(--main-gray);
}

.btnIcon {
  width: clamp(12px, min(1.667vh, 0.973vw), 18px);
  height: clamp(12px, min(1.667vh, 0.973vw), 18px);
  color: var(--light-gray);
}

.dateWrapper {
  display: flex;
  align-items: center;
  gap: clamp(5px, min(0.432vw, 0.741vh), 8px);
  margin-left: clamp(41px, min(3.243vw, 5.555vh), 60px);
  margin-right: clamp(41px, min(3.243vw, 5.555vh), 60px);
}

.dateWrapper p {
  font-size: clamp(12px, min(1.481vh, 0.864vw), 16px);
  font-weight: 600;
  line-height: clamp(12px, min(1.481vh, 0.864vw), 16px);
}

.customInput {
  width: clamp(16px, min(1.297vw, 2.222vh), 24px);
  height: clamp(16px, min(1.297vw, 2.222vh), 24px);
  background-color: transparent;
  color: var(--white);
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
}

.customInput svg {
  width: clamp(16px, min(1.297vw, 2.222vh), 24px);
  height: clamp(16px, min(1.297vw, 2.222vh), 24px);
}

.chooseDate {
  color: var(--light-gray);
  font-size: clamp(9px, min(1.296vh, 0.756vw), 14px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}