.serviceBookingModal {
  position: relative;
  width: 660px;
  padding: 28px 34px;
  border-radius: 12px;
  background-color: var(--bg-secondary);
}

.closeIcon {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 18px;
  height: 18px;
  fill: var(--input-stroke);
}

.closeIcon:hover {
  cursor: pointer;
}

.header {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 42px;
}

.form {
  display: flex;
  gap: 16px;
}

.rightSectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 76px;
  justify-content: flex-start;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputWrapper {
  position: relative;
}

.btnArrowSelect {
  position: absolute;
  right: 21px;
  top: 16px;
  fill: white;
  width: 13px;
  fill: var(--icon-gray);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  pointer-events: none;
}

.rotated {
  transform: rotate(180deg);
}

.input {
  width: 288px;
  height: 46px;
  border-radius: 6px;
  border: 1px solid var(--input-stroke);
  background-color: var(--bg-input);
  padding-left: 20px;
  color: var(--light-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input:-webkit-autofill {
  background-color: var(--bg-input) !important;
  color: var(--white) !important;
  box-shadow: 0 0 0px 1000px var(--bg-input) inset !important;
  -webkit-text-fill-color: var(--white) !important;
}

.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  background-color: var(--bg-input) !important;
  color: var(--white) !important;
  box-shadow: 0 0 0px 1000px var(--bg-input) inset !important;
  -webkit-text-fill-color: var(--white) !important;
}

.input::placeholder {
  color: var(--input-text);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input:disabled {
  color: var(--input-text);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inputSelect {
  width: 288px;
  height: 46px;
  border-radius: 6px;
  border: 1px solid var(--input-stroke);
  background-color: var(--bg-input);
  padding-left: 20px;
  color: var(--light-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
}

.placeholder {
  width: 288px;
  height: 46px;
  border-radius: 6px;
  border: 1px solid var(--input-stroke);
  background-color: var(--bg-input);
  padding-left: 20px;
  color: var(--input-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
}

option {
  color: var(--light-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.errorMsg {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: red;
  position: absolute;
  top: 100%;
  left: 0;
  white-space: nowrap;
}

.bottomRightSectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-top: 35px;
}

.leftSectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
}

.addFileWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 288px;
  height: 46px;
  gap: 8px;
}

.inputFile {
  display: none;
}

.iconCamera {
  width: 24px;
  height: 24px;
  color: var(--white);
}

.label {
  display: flex;
  align-items: center;
  color: var(--input-text);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 2px;
  cursor: pointer;
}

.registrationCertificate {
  height: 22px;
  width: 35px;
  object-fit: contain;
}

.textArea {
  width: 288px;
  height: 111px;
  padding: 15px 0 15px 10px;
  border-radius: 6px;
  border: 1px solid var(--input-stroke);
  background: var(--bg-input);
  resize: none;
  color: var(--light-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.textArea::placeholder {
  color: var(--input-text);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.timeWrapper {
  width: 285px;
  height: 129px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  row-gap: 6px;
  column-gap: 3px;
}

.btnWrapper {
  margin-top: 10px;
}

/* .closeBtn {
  width: 95px;
  height: 36px;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--light-gray);
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.submitBtn {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--green-btn-normal);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  outline: none;
  cursor: pointer;
  border: none;
}

.submitBtn:hover {
  background-color: var(--green-btn-hover);
}

.submitBtnIcon {
  width: 13px;
  height: 10px;
  stroke: var(--white);
} */
