.wrapper {
    display: flex;
    /* width: 415px;
    height: 75px; */
    gap: 10px;
    background: var(--bg-secondary);
    flex-direction: column;
}

.titlebox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 27px;
}


.title {
    color: var(--lightgray);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1875em;
    font-variant: small-caps;
}

.titlespan {
    color: var(--play-btn-triangle);
}

.tarplan {
    color: var(--text-gray);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-variant: small-caps;
}

.error {
    color: var(--red);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-variant: small-caps;
}