.bottomPartBox {
  transition: height 0.3s ease, flex-grow 0.3s ease;
  overflow: hidden;
}

.fullHeight {
  /* flex-grow: 1; Розтягується, коли акордеон закритий */
  height: 850px;
}

.reducedHeight {
  flex-grow: 0; /* Менше місця, коли акордеон відкритий */
  height: calc(100% - 300px); /* Висота з урахуванням розгорнутого акордеона */
}

.changeablePart {
  width: 914px;
  height: 100%;
  max-height: 648px;
  padding: 20px 15px 20px 20px;
  border-radius: 6px;
  background: var(--bg-secondary);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: height 0.3s ease;
  position: absolute;
  bottom: 23px;
}

.reducedChangeableHeight {
  height: 375px; /* Обмеження висоти, коли акордеон відкритий */
}

.noBackground {
  /* width: 929px; */
  transition: height 0.3s ease;
}

.fullChangeableHeight {
  height: 648px;
}
