.changeablePart{
    width: 914px;
    padding: 20px 40px 20px 20px;

    border-radius: 6px;
    background: var(--bg-input);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.bottomPartBox{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 41px;
    }