.itemsList {
  display: flex;
  gap: 20px;
}

.items {
  display: flex;
  gap: 6px;
  align-items: center;
}

.listAndButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  width: 915px;
}

.value {
  color: var(--white);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title {
  color: var(--light-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.icon {
  width: 18px;
  height: 18px;
  fill: var(--light-gray);
}

.newWarehouse {
  width: 181px;
  height: 34px;
  display: flex;
  /* padding: 8px 20px; */
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 6px;
  background: var(--green-btn-normal);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  position: relative;
}

.newWarehouseBtn {
  display: flex;
  background-color: transparent;
  align-items: center;
  gap: 10px;

  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  border: none;

  height: 100%;
}

.popoverBox {
  cursor: pointer;

  display: flex;
  align-items: center;
}

/* .treeRoot {
  display: flex;
  width: 915px;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;

  border: 1px solid var(--CRM-modal-SecondaryBG, #23252c);
  background: var(--CRM-modal-InputBG, #2d3038);
} */

/* .listItem {
  display: flex;
  width: 915px;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

 
} */

/* .dropTarget {
  border: 1px solid var(--CRM-modal-SecondaryBG, #23252c);
  background: var(--CRM-modal-InputBG, #2d3038);
} */

.wrapper {
  width: 915px;
  height: 508px;
}

.btnBox {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
  /* margin-left: auto; */
}

.btnClose {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--light-gray);
  background-color: transparent;

  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btnSave {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: none;
  border-radius: 6px;
  background: var(--blue-btn-normal);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* .placeholder {
  border-bottom: 3px solid #e8f0fe;
  border-radius: 4px;
} */
