.calendarContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 304px;
}

@media only screen and (min-width: 1920px) {
  .calendarContainer {
    width: 454px;

}
}

.topContainer {
  display: flex;
  flex-direction: column;
  gap: 17px;
  /* padding: 16px 11px 0 11px; */
  /* border-radius: 5px; */
}
