.actions {
  margin-top: 11px;
  width: 378px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px;
  height: 41px;
  position: relative;
}

.actionsIsChecked {
  width: 389px;
}

.checkbox {
  display: none;
}

.cbIcon {
  display: none;
}

.cbMark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */

  border: 1px solid var(--white);
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  margin-right: 10px;
}

.cbMarkIsChecked {
  margin-right: 6px;
}

.checkbox:checked + .cbMark {
  border: 1px solid var(--blue);
  background-color: var(--blue);
}

.checkbox:checked + .cbMark > .cbIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  /* fill: var(--blue); */
  fill: var(--bg-secondary);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.label {
  display: flex;
  gap: 10px;
  align-items: center;

  color: var(--light-gray);
  /* font-family: "Montserrat", sans-serif; */
  /* font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; */
}

.filter {
  display: flex;
  gap: 10px;
  align-self: center;
  margin-left: auto;
}

.text {
  color: var(--light-gray);
  /* font-family: "Montserrat", sans-serif; */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1875em;
  height: 21px;
  cursor: default;
}

.icon {
  fill: var(--light-gray);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(180deg);
}

.actionsChecked {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.select {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 2px 4px;
  height: 21px;

  border-radius: 4px;
  background-color: var(--bg-input);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.actionsText {
  color: var(--light-gray);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.newLabel {
  /* margin-right: 6px; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -12px;
}

.quickActionsBox {
  position: relative;
}

.actionsList {
  position: absolute;
  /* left: 50%;
  transform: translateX(-50%); */
  left: 0;
  top: 140%;
  z-index: 999;

  width: max-content;
  background-color: var(--bg-input);
  box-shadow: -1px 3px 18px 7px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  /* border: 1px dashed var(--input-stroke); */
  overflow: hidden;
}

.actionsItem {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;

  color: var(--light-gray);
}

.actionsItem:not(:last-child) {
  border-bottom: 1px solid var(--input-stroke);
}

.actionsItem:hover {
  background-color: var(--bg-secondary);
}
